[2022-08-17 08:43] istankovic commented on #933
That would be a very nice addition indeed. :+1:

[2022-08-17 09:07] istankovic commented on #769
Some very good points, thanks for elaborating and helping me understand.

Totally fine with that. :+1:

(Just to illustrate my struggle: I learnt that 10 is Optimism, but given 28 and 588 I always have to do a look up to see which one is Metis and which one is Boba. WIth more rollups, that will only get worse. :sweat_smile: )

[2022-08-17 09:24] manuelwedler commented on #933
This is already supported! In the config file you just need to add an `imageUrl` to a token, just like for the rollup. The reason why no image was showing up is just that we don't have one for the test token.
We could still add the placeholder. I would add it in the `Selector` component directly if there is no `imageUrl` on the `SelectorOption`.

There is also the list maintained by MetaMask: http

[2022-08-17 09:30] manuelwedler opened #935 "Frontend: Mobile - layout not fitting"
#### System information

OS & Version: Android
Browser & Version: Chrome Android
6.5" device

#### Expected behavior
The dialog is centered in the view and no scrolling is needed.

#### Actual behavior
[<img src="https://user-images.githubusercontent.com/34456797/185084780-1aa9c3a5-dae0-4ecb-a714-5600981d35bc.jpg" width="300">](https://user-images.githubusercontent.com/34456797/185084780-1aa9c3a5-

[2022-08-17 10:25] #741 closed

[2022-08-17 10:26] #913 closed

[2022-08-17 10:30] manuelwedler opened #936 "Frontend: Mobile - Input fields turn white"
#### System information

OS & Version: Android
Browser & Version: Chrome Android

#### Expected behavior

The fields stay in the same color.

#### Actual behavior

On mobile, when writing a value to the input field, the the color of the field turns white.
![Screenshot_20220817-091828_Chrome](https://user-images.githubusercontent.com/34456797/185097356-a40a257c-07fe-4435-822a-a2204367ef08.jpg)

[2022-08-17 10:38] manuelwedler opened #937 "Frontend: MetaMask button enabled when not installed"
#### Expected behavior
In the wallet connection screen, in case the user does not have MetaMask installed the MetaMask button should be disabled + greyed out and/or a message should be shown that the user does not have MetaMask installed.

#### Actual behavior
The button is shown as usual and nothing happens when clicked.

[2022-08-17 10:41] GabrielBuragev commented on #937
I suggest that we just redirect the user to the Metamask Extension download page (https://metamask.io/download/) instead of disabling the button.

[2022-08-17 13:26] manuelwedler opened #938 "Frontend: Add tailwindcss plugin to prettier"
I just found out that there is a prettier plugin for sorting the tailwind classes in our templates. Would be nice to add it. It's much easier to get what the classes do, if they follow a specific order.

See https://github.com/tailwindlabs/prettier-plugin-tailwindcss

# Acceptance criteria
- [ ] Plugin is intergrated
- [ ] Whole frontend codebase is formatted

[2022-08-17 13:27] #847 closed

[2022-08-17 13:46] GabrielBuragev commented on #938
Nice one! We will also be able to learn the ordering pattern of the tailwind classes with the help of this plugin.

[2022-08-18 11:54] fredo opened #941 "Decimals of fee value"
We discovered an issue with the fixed fee value (reimbursement value). We currently have one value for all tokens. The problem is that different tokens might have different size of decimals (i. e. USDC only having 6, DAI having 18).

Starting with only one token it's not a problem. As soon as we have multiple tokens we might run into a problem.
Possible solutions require a redeployment which shoul

[2022-08-18 11:54] fredo commented on #941
This should also be implemented before the audit

[2022-08-18 11:57] fredo commented on #769
I totally understand the struggle. I think we will have a good compromise with the approach. Let's got with that

[2022-08-18 13:43] fredo commented on #269
will close this and reopen if needs redeployment

[2022-08-18 13:43] #269 closed

[2022-08-18 14:36] fredo opened #942 "Docs: Agent Configuration should point to run your own agent repo"
We had our first agent to setup his agent. The agent configuration was confusing the deployer and furthermore we have now 2 different locations explaining how to run the agent.

It would be nice to have a central point. I suggest the `run-your-own-agent` repo. From the docs we can point to the repo.

[2022-08-18 14:50] fredo opened #943 "Add password option to generate_account.py"
Agents might want to use this to generate an account locally. Requested by agent

[2022-08-18 15:00] fredo opened #945 "Docs: document how to create your own keystore file"
In the process of setting up an agent, he might want to generate a key locally. this needs to be documented.

[2022-08-18 16:51] #891 closed

[2022-08-18 16:57] DinaBB commented on #339
Small changes requested on the dApp side related to the [miro: Beamer website V2
](https://miro.com/app/board/uXjVOFCZZKs=/):

App: Clickable Beamer logo in the middle to change transfer direction in a click: A->B, B->A
App: -> Logo + Footer -> clickable link redirecting to Beamer website
App: Recurring user complaints about background color + color of the app fields. Suggestion: Light/dark modes

[2022-08-19 07:46] istankovic commented on #339
When it comes to colors, or really, the entire UI/UX, I recommend the [Web Content Accessibility Guidelines](https://www.w3.org/WAI/standards-guidelines/wcag/glance/). If we want to make our site and the app accessible to the largest possible group of people, the standard does a pretty good job of explaining what to do and what to avoid.

[2022-08-19 09:24] olympe-silve commented on #339
I fully endorse the use of the WCAG, however, it is not true that the entire UI/UX needs to be reviewed to comply with them. Users want more contrast, then we give them more contrast, but it doesn't make the app hard to use for people with disabilities and it is really low prio. Aesthetic preferences and accessibility are two different things.

[2022-08-22 13:10] istankovic opened #949 "Adjust mainnet Boba & Optimism minLpFee"
Since USDC uses only 6 decimals, we need to adjust the `minLpFee` in request manager on Boba and Optimism.
The new `minLpFee` should be `10_000`, which corresponds to 1 cent.
The other fee parameters should be left as they are.

[2022-08-22 13:28] istankovic commented on #949
Minimum LP fee has been updated to 1 cent:

Mainnet Boba: https://bobascan.com/tx/0x1433bb91783c85b246f91b1fce1a32dca982cbc5a2f213a8098c5beb3878e30b

Mainnet Optimism: https://optimistic.etherscan.io/tx/0xb091e731f5b7d45e11a8fcf4a5810c58bc3569632372a665f19ed6bbc4dd3141

[2022-08-22 13:28] #949 closed

[2022-08-23 08:50] istankovic commented on #928
The minimum LP fee has been set to 1 cent (USDC), while the LP fee percentage is 0.1.

[2022-08-23 14:33] istankovic commented on #941
Before we decide on an option here, I think it would be useful to know about our strategy for supporting tokens.
@czepluch will there be a whitelist of tokens?

[2022-08-24 06:19] fredo opened #953 "Move testnet environment to Goerli"
Finally, rollups are more and more aligning (coincidentally?) on a common testnet. This is probably related to the Merge and other testnets shutting down.

On Goerli, we have [Optimism](https://dev.optimism.io/kovan-to-goerli/), [Arbitrum](https://medium.com/offchainlabs/new-g%C3%B6rli-testnet-and-getting-rinkeby-ready-for-nitro-3ff590448053), [zkSync](https://medium.com/@CalendarDefi/testnet-guid

[2022-08-24 09:20] fredo opened #954 "Fix Request Manager on Mainnet"
The RequestManager is misconfigured and we need to redeploy the current Mainnet RequestManager.

### Action plan
- [x] Think again if only deploying RequestManager is fine @istankovic @fredo
- [x] Write deployment config @fredo
- [x] Deploy RequestManager @istankovic
- [x] shutdown agents @istankovic
- [x] Do two requsts on old deployment @fredo
- [x] Withdraw one @fredo
- [x] Deprecate RequestMan

[2022-08-24 10:00] fredo commented on #954
Also added this to this sprint @andfletcher

[2022-08-24 10:19] fredo commented on #954
Regarding RequestManager deployment:

* Also change MAX_VALIDITY_PEROID to `30 min` (must be changed in the contract)
* Add finality period of Boba via setFinalityPeriod (288, 604800)
* change transfer limit to 50 USDC via updateTransferLimit(50000000)
* change feeData via updateFeeData 1 cent minLpFee (value = 10000)

[2022-08-24 11:51] czepluch commented on #941
It's a good question. Maintaining a whitelist definitely makes it easier for us to make sure that our frontend reflects the supported tokens and we would also have some level of quality assurance. It would however introduce additional centralisation too. And I would say that ultimately we should not choose the tokens, but rather tokens should be added from the agents where they see that there is a

[2022-08-24 14:52] #259 closed

[2022-08-24 14:52] #915 closed

[2022-08-24 14:52] #911 closed

[2022-08-24 16:19] istankovic commented on #954
Might it make sense to move the last two items in the description into their own issue?

[2022-08-25 06:25] fredo commented on #954
I was planning the same thing, as it isn't necessarily critical for mainnet

[2022-08-25 06:29] fredo opened #961 "Create a deployment process"
We need to create a process for deployment.

Reason is that we have a central point where the source of parameters is and a concept of double checking that everything is correct.

There should be a at least 4  eyes concept of checking parameters before the deployment and checking the correct configuration of deployed contracts.
Ideally we have a sheet where responsible persons are assigned and rep

[2022-08-25 06:29] fredo commented on #954
created #961, will close this issue

[2022-08-25 06:30] #954 closed

[2022-08-25 07:34] fredo opened #962 "frontend: Background color changes to white if I take my browsers suggestion"
Browser: Chrome

![browser-options](https://user-images.githubusercontent.com/10088275/186603659-3fa6dacd-c7cb-4480-905e-63950f0cae03.png)

![browser-chosen](https://user-images.githubusercontent.com/10088275/186603676-d0db25dd-e37a-4fc2-b117-843cad45d4fb.png)

[2022-08-25 07:46] GabrielBuragev opened #963 "Frontend: Adjust frontend to use deployments npm package"
# Rationale
The ABI files related to the contracts that the frontend interact with are currently maintained manually and require manual updates after contract code update & deployment. We need to automate this process so that the frontend can consume a specific version of the contracts ABI easily.

### Why should this feature exist?
With this optimization we are further reducing the need of manual

[2022-08-25 07:46] DocSmoove opened #964 ""USDC Available" always shows as 0.0"
#### System information

OS & Version: Mac 10.14.6
Browser & Version: Chrome
Commit hash:0x9cc02d55307468ed13e65ca0aeaacf2cd2e31f743fe8bef8ec0092e459710bef

#### Expected behavior
When connecting your wallet, you should be able to see how much USDC you have in your wallet.

#### Actual behavior
It always shows 0

![Screen Shot 2022-08-25 at 2 41 57 PM](https://user-images.githubusercontent.com/107

[2022-08-25 07:53] DocSmoove opened #965 "Glitch after First Transaction. Second transaction does not show up on Activities page until you confirm on metmask"
#### System information

System information
OS & Version: Mac 10.14.6
Browser & Version: Chrome
Commit hash:0x04d2d3faf51ae4dda52888a2cd7d9b35af7993272751384cf2eba585044ab498

#### Expected behavior
When you start your second transaction, you should see the transaction happening on the activity page.

#### Actual behavior
You only can see it happen after you confirm on metamask (Sorry for the slow

[2022-08-25 07:57] DocSmoove opened #966 "Jittering Activity Tab"
System information
OS & Version: Mac 10.14.6
Browser & Version: Chrome

Commit hash: N/A

#### Expected behavior
When you scroll down the list of activities, the screen does not jitter

#### Actual behavior
the whole list jitters as if it is having a seizure

https://user-images.githubusercontent.com/107990484/186608561-2d435442-0993-4130-aee6-ecf1f486d9ad.mov

#### Steps to reproduce the behavior

[2022-08-25 08:05] DocSmoove opened #967 "To click somewhere on the screen to be able to cancel certain action"
Video Example

https://user-images.githubusercontent.com/107990484/186610271-7fae97de-5957-43aa-bc15-69ead87823bd.mov

# Rationale

Why should this feature exist?
It is a natural human instinct to click in a blank space to go back.

What are the use-cases?
Every time we make a mistake and want to fix it before we go to the next step.

# Implementation

Do you have ideas regarding the implementatio

[2022-08-25 08:10] GabrielBuragev commented on #967
Thanks for your testing @DocSmoove !
It is a must to implement an escape hatch for situations like this!
We already discussed this and aligned the designs for it, issue was already created and soon to be implemented.

Closing in favor of #898

[2022-08-25 08:10] #967 closed

[2022-08-25 08:25] czepluch opened #968 "Frontend shows tx failed even if the tx went through on both rollups"
#### System information

OS & Version: MacOS
Browser & Version: Firefox

#### Expected behavior
In general I expect transfers to go through and for the frontend to show me that they went through if they did so. I also expect the frontend to show me if a tx fails.

#### Actual behavior
I don't expect the frontend to show me that a transfer failed when the transactions actually went through on both

[2022-08-25 08:26] czepluch commented on #968
This is all I see in the browser console.
<img width="1439" alt="Screenshot 2022-08-25 at 10 26 21" src="https://user-images.githubusercontent.com/1026799/186614922-7564b3cf-d15c-4002-bff1-102658173efc.png">

[2022-08-25 08:29] fredo commented on #968
can you also post a screenshot from the developer console, please?

[2022-08-25 08:33] istankovic commented on #961
Ideally, we would come up with a checklist for deployment. Yesterday's checklist was of great help.

[2022-08-25 08:42] czepluch commented on #968
Did it in RC. Can't do it without showing the url

[2022-08-25 09:12] istankovic opened #970 "Amount not validated if token is not selected"
Seems like the amount is not validated if a token is not selected:

![image](https://user-images.githubusercontent.com/1312091/186624884-6a43c675-fe5d-41f0-98e4-6dcadf70fe1e.png)

I would expect that at least there is a "positive number" check performed even without a token.

[2022-08-25 12:02] heifra opened #971 "Boba -> Optimism - Error "insufficient funds""
#### System information

OS & Version: OSX
Browser & Version: Brave
Commit hash: when using checkout

#### Expected behavior
I enter a value of 1 USD (or 5 USD) in the transfer field. It should validate that I have sufficient funds to transfer (>8 USDC available on Boba). Works also for 1.00 or 5.00

#### Actual behavior
Get the error Isufficient funds

#### Steps to reproduce the behavior
Try to

[2022-08-25 12:03] heifra commented on #971
<img width="609" alt="image" src="https://user-images.githubusercontent.com/5898071/186659286-072509a8-dd64-4822-a672-da899b962399.png">

[2022-08-25 13:33] heifra commented on #971
As discussed with Fred two more infos.
It happens only with Boba as source.
The error "insufficient funds" appears already when typing "5".
The error in the console happens when then proceeding to "5."

[2022-08-25 13:42] GabrielBuragev commented on #971
@heifra Thank you for reporting this issue and for providing these details.

I tried reproducing it on Brave but was not able to.
Can you please check if you have multiple addresses in your metamask connected to the app? If so can you try disconnecting all of them and connect only the `0x139...a6D7`. After that try filling up the inputs.

If the only address connected to the app is this one, then

[2022-08-25 15:00] istankovic commented on #941
Another approach here would be to require `minLpFee > 0` for each whitelisted token. IOW, one would not be able to whitelist a token without also specifying a nonzero minimum LP fee at the same time.

[2022-08-25 15:07] istankovic commented on #941
@fredo maybe a dumb question, but what is the purpose of `minLpFee`? I understand that it is (at the very least) to ensure that LPs get paid _something_ in case the transfer amount is not big enough. But are there any other considerations here?
IOW, do we have additional constraints/criteria for `minLpFee` that need to be satisfied?

How exactly is important relation to fiat USD?

[2022-08-25 19:17] #698 closed

[2022-08-25 19:17] #964 closed

[2022-08-26 09:50] istankovic opened #972 "Implement beamer deployment and configuration commands"
Make sure to use `apischema` to model deployment configuration and artifacts. Validation should occur immediately after reading deployment configuration and artifacts.

Tasks:
- [x] Implement the `beamer deploy-base` command
- [x] Implement the `beamer deploy` command
- [ ] Implement the `beamer configure` command
- [x] Store transaction hashes for each contract deployment in the deployment file
-

[2022-08-26 14:44] istankovic commented on #972
Tasks:
- [ ] Implement the `deploy` command
- [ ] Implement the `configure-call-chain` command
- [ ] Implement the `configure-finality-periods` command
- [ ] Update Optimism e2e test script
- [ ] Update Arbitrum e2e test script
- [ ] Update documentation
- [ ] Update instructions in [beamer-bridge/run-your-own-agent#](https://github.com/beamer-bridge/run-your-own-agent)

[2022-08-26 14:56] istankovic opened #973 "Add a script to produce contract ABI files for a given deployment"
Assuming #972 is done, it should be possible to produce a set of contract ABI files for a given deployment.
The new script could be invoked like this:
[code]
The first argument to the script is the path to an existing deployment directory, and the second argument is the path that the script should use for generated ABI files.

The script should
- read `layer1.deployment.json` to obtain the git com

[2022-08-26 15:22] istankovic commented on #246
This is now obsolete, in particular we have #972.

[2022-08-26 15:22] #246 closed

[2022-08-26 15:23] istankovic commented on #572
Deploying mintable token has long been optional. Closing.

[2022-08-26 15:23] #572 closed

[2022-08-26 15:26] istankovic commented on #537
This epic is already too big, even for an epic. Once #564 is closed, we should also make sure this is closed and not add further things here. For new things we should make separate issues to keep things simpler.

[2022-08-26 15:27] istankovic commented on #769
I have created individual stories and fleshed out the design in a bit more detail, in particular in #972.

[2022-08-26 15:30] istankovic commented on #778
@fredo do we have an idea of what we would like to do here to further reduce the calls?
If not, then I suggest we either have a brainstorming on the topic and create new stories here, or close this epic.

[2022-08-26 15:42] istankovic commented on #273
@fredo this is no longer blocked by #328, right?

[2022-08-26 15:48] istankovic commented on #893
How would "send the allowances" actually look?

[2022-08-26 15:58] istankovic commented on #448
@olympe-silve could you please provide feedback?

[2022-08-26 16:01] istankovic commented on #241
@fredo what do we do here?

[2022-08-26 16:02] istankovic commented on #228
This has been obsolete for a long time now, closing.

[2022-08-26 16:02] #228 closed

[2022-08-26 16:04] istankovic commented on #204
@fredo this one may be relevant to our discussions next week. Also related to #927.

[2022-08-26 16:06] istankovic commented on #163
@fredo what do we do here?

[2022-08-26 16:07] istankovic commented on #146
@fredo I seem to remember some discussions on just dropping this, but can't remember the outcome. Is this still relevant or should we just close this?

[2022-08-26 16:08] istankovic commented on #137
@fredo do you know what this is about?

[2022-08-29 06:56] fredo commented on #2
there is a specific proposal how to do this with issue #882 .
closing this in favor of #882 since it is kind a duplicate.

[2022-08-29 06:56] #2 closed

[2022-08-29 06:57] fredo commented on #137
this could have something to do with downtimes of the sequencer but I really don't know

[2022-08-29 06:59] fredo commented on #146
for now, the fees are controlled by the whitelisted address. so this address is responsible for doing such things off chain and find the fair fee value.
in the future ideally we have a different mechanism and this becomes relevant again

[2022-08-29 07:00] fredo commented on #163
I think it is fine to stick with the current abitrarily chosen value (1000000). we have seen gas usage of around 800k per L1. not priority right now

[2022-08-29 07:01] fredo commented on #241
closing, nothing to do here

[2022-08-29 07:01] #241 closed

[2022-08-29 07:04] fredo commented on #893
similar to calling the resolution registry via L1, a L1 whitelist registration would send a message to the respective roll ups and call the "addWhitelist" function on the respective contracts.
same as for "resolve" , we would need to make sure the this function is restricted to be called by a certain L1 contract.

[2022-08-29 07:05] fredo commented on #273
no it's not. although something seems to be happening on the brownie side

[2022-08-29 07:08] fredo commented on #778
this is a perfect topic for this week's workshop. there are a bunch of RPC calls which are called by the agent during processing state or events. might be possible to remove them.
let's take a bit of time and look over the code.
before that we should analyze the live angents' behaviour and determine prioritization. (if the live agents used a reasonable amount of calls , we might postpone this)

[2022-08-29 07:11] fredo commented on #769
for consistency, I would call `layer1.json` , `1-ethereum.json`.

[2022-08-29 07:14] fredo commented on #972
for consistency, I would rename `layer1.json` to `1-ethereum.json`

[2022-08-29 09:10] istankovic commented on #137
As it stands, there is not much sense to keep this open anymore so I'm going to close it.

[2022-08-29 09:10] #137 closed

[2022-08-29 09:20] taleldayekh commented on #273
All subtasks completed.

[2022-08-29 09:20] #273 closed

[2022-08-29 09:24] taleldayekh commented on #767
Covered in #769.

[2022-08-29 09:24] #767 closed

[2022-08-29 09:37] taleldayekh commented on #619
Waiting for https://github.com/eth-brownie/brownie/issues/1591

[2022-08-29 09:40] istankovic commented on #893
But we would still end up with "multiple lists", right? Both the fill manager and the request manager would have a list of allowed fillers/claimers, right?

[2022-08-29 09:44] istankovic commented on #163
Ok, then closing this for now. We can reopen or make a new issue once it becomes relevant.

[2022-08-29 09:44] #163 closed

[2022-08-29 09:52] taleldayekh commented on #936
Will this be fixed if #962 gets resolved?

[2022-08-29 11:15] GabrielBuragev commented on #936
Yes, i believe this is a duplicate issue.

[2022-08-29 11:55] #936 closed

[2022-08-29 13:42] fredo commented on #537
closing because of the above mentioned reason

[2022-08-29 13:42] #537 closed

[2022-08-29 15:45] fredo opened #975 "Make resolver address in FillManager immutable and settable"
To optimize the deployment scripts, we will set the resolvers address by a setter.

Make the variable immutable so that it can only be set once and `onlyOwner`.

Adapt the deployment scripts.

[2022-08-30 15:31] olympe-silve commented on #448
I don't have a strong opinion about this. I think it's potato-potato in terms of UX when there are so few networks involved.

My instinct is that it is a bit confusing to have specific rollups and token preselected. I would rather the fields to be left blank with instructions. But I looked into the UX research on the matter and couldn't find conclusive studies on the matter.

@GabrielBuragev what

[2022-08-31 06:42] GabrielBuragev commented on #448
I also agree with you @olympe-silve on this one. I do believe that it might be confusing to have pre-selected chains/tokens, especially with the current implementation.
If we add the pre-select feature, that will also mean we are forcing them to choose a network and possibly even add that network to their wallet provider, while their intention was to find and use another network of their preferenc

[2022-08-31 06:45] GabrielBuragev commented on #448
Note: We only preselect the rollup in the select component if the selected network on the connected wallet matches one of the available rollups in the selection.

[2022-08-31 07:50] istankovic commented on #448
Thanks for the feedback, I'm going to close this since nothing needs to be done.

[2022-08-31 07:50] #448 closed

[2022-08-31 08:50] istankovic opened #978 "Rework the end-to-end test script"
Currently our end-to-end test script does a test on a single chain. It also waits for the result in the resolution registry. In order to facilitatet reuse, we should rework the script so that we can support both our CI test environment and manual L1 resolution tests.

To that end, we should split the script into two commands e.g.`random-fill` and `verify-fill`. The first would just make a fill for

[2022-08-31 09:37] fredo opened #980 "Create RPC file"
Tasks:
- [ ] create `rpc.json` files for goerli and mainnet deployment (RPC endpoints should be left blank)

Example file:
[code]

[2022-08-31 09:43] fredo opened #981 "Convert config files to new design"
- create deployment configs for base-chain
- create deployment configs for each rollup
- Remove RPC endpoint
- add chain_id to the configs

leave the old files

[2022-08-31 10:35] GabrielBuragev opened #982 "Frontend: loading indicators are not shown correctly"
#### System information

OS & Version: All
Browser & Version: All
Commit hash: when using checkout

#### Expected behavior
Loading indicator should be present on page load & when a transfer is being created inside the "Transfer Funds" button.

#### Actual behavior
Loading indicator is not visible in the aforementioned cases.

I believe this happened as a result of [refactoring the Spinner componen

[2022-08-31 10:39] fredo opened #983 "Convert current deployment file to new design"
Tasks:
- [x] introduce `base.deployment.json`
- [x] create `chain_id-chain_name.deployment.json` for all chains
- [x] store tx hashes of contract deployments
- [x] commit id to every contract

Both for mainnet and goerli

[2022-08-31 10:46] fredo opened #984 "Adjust the e2e test script to new deployment structure"
with `rpc.json` and the new config and deployment jsons created in #972, the e2e test script needs to be aware of this.

After this issue is completed the old deployment files and config files can be removed.

- [x] update `docker/scripts/common.sh` and other e2e test related scripts
- [x] remove the old deployment files
- [x] remove old config files from the repo

[2022-08-31 10:49] fredo opened #985 "Make a new agent release and testnet deployment"
We should do a new testnet deployment once #972 is done.
This will also validate the new deployment scripts.

https://docs.beamerbridge.com/releasing.html

- [x] mAke new testnet deployment
- [x] Make a new agent release which is able to consume new deployment files
- [x] update changelog
- [x] make a new bug fix release
- [x] update run your own agent
- [x] notifiy agents

This is the last issue

[2022-08-31 12:36] GabrielBuragev commented on #968
This issue seems to be unreproducible.
@czepluch Can you check one more time if you still get this error?

[2022-08-31 12:58] GabrielBuragev commented on #968
Thanks to the info provided i was able to spot some unhandled cases in the code:
- The returned value from the [provider.getTransaction()](https://github.com/beamer-bridge/beamer/blob/main/frontend/src/services/transactions/request-manager.ts#L74) call is not properly checked for null value. Looking at the [etherjs docs](https://docs.ethers.io/v5/api/providers/provider/#Provider-getTransaction) th

[2022-08-31 13:39] heifra commented on #971
Checked it now. The error is not reproducable anymore. Works fine now

[2022-08-31 13:39] czepluch commented on #968
It consistently happen to me every time I try to transfer from Boba to Optimism.

[2022-08-31 13:39] heifra commented on #971
(Without reconnecting)

[2022-08-31 13:44] GabrielBuragev commented on #971
This issue was most likely related to issue #964.
Due to the wrong user balance calculation for tokens with less then 18 decimals this error started showing up as the input validation was checking and validating against the incorrect user balance amount.
Since the user balance calculation was fixed with #959 this error stopped showing up therefore closing this issue as resolved.

[2022-08-31 13:44] #971 closed

[2022-08-31 13:55] GabrielBuragev commented on #962
Solutions:
- Firefox: https://stackoverflow.com/questions/55228377/remove-new-firefox-autofill-color
- Chrome: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete

[2022-08-31 14:14] andfletcher opened #987 ""?" on webui does nothing on mobile"
#### System information

OS & Version: Andoird
Browser & Version: Chrome

#### Expected behavior
If I click on the "?" on the webui from my phone i should get some info

#### Actual behavior
Not clickable at all

#### Steps to reproduce the behavior
Open the webui on your phone, click on "?", nothing happens

[2022-08-31 14:55] GabrielBuragev commented on #968
So, after a debugging session with @czepluch we concluded that he was using `https://mainnet.boba.network` instead of `https://replica.boba.network` as an RPC url in his "Boba Mainnet" network configuration.

There were already errors reported many times in the past when the app was tested while using `https://mainnet.boba.network` as an RPC endpoint for mainnet boba.

Also, my previous [comment](

[2022-08-31 14:58] andfletcher commented on #968
I was using https://replica.boba.network

[2022-08-31 15:04] andfletcher opened #988 "Transaction details disappear once you scroll down and up again"
#### System information

OS & Version: Windows
Browser & Version: Chrome

#### Expected behavior
If I open a transaction detail view and scroll down and up again the details should still show OR it should not show but without a big gap between 2 transactions

#### Actual behavior
![image](https://user-images.githubusercontent.com/39694712/187711649-26efef48-68ce-461c-88c7-22cac7e0569b.png)

scroll

[2022-08-31 15:05] czepluch commented on #988
@GabrielBuragev can you give an estimate on this? I will prioritize it.

[2022-08-31 15:23] GabrielBuragev commented on #988
I would say 3, same as #965, since its closely related to the implementation of the element position tracking (via observers).

[2022-08-31 17:00] fredo opened #989 "Restructuring Request Manager/Resolution Registry"
This epic is about restructuring the request manager storage management, and enabled by the the unification of the Request Manager and the Resolution Registry.

The structure of the RequestManager is organized by a mapping from the request id which is a simple counter to a request object containing all information for one request.

## Restructuring Request Manager Storage
The above structure is un

[2022-09-01 08:09] fredo opened #990 "Use request hash as key in RequestManager"
part of #989

We need to do the following

### Change key of mapping to request hash

* use the requestId as a nonce
* create request hash upon request creation
* change mapping to bytes32 => request
* adapt `validRequestId` modifier

### Adapt agent
* Agent must interpret key of mapping correctly
* Change internal dictionary as well.
* Remove `_find_request_by_request_hash` usage

### Adapt front

[2022-09-01 08:20] istankovic opened #991 "Rework ProofSubmitter to only generate fill IDs"
Currently the proof submitter ocntains code to send the proofs via messengers. We should move that code out of the proof submitter and leave only code that generates fill IDs. We should also rename the proof submitter to something like `FillIdGenerator`.

[2022-09-01 08:31] fredo opened #992 "Remove unused request properties"
Not all information of a request are used in the RequestManager but for the creation of the request hash. This is no longer necessary, due to #990. We can remove storing
* targetTokenAddress
* targetReceiverAddress
* targetChainId
* requestNonce

by having the RequestHash stored as the key of the mapping.
Note, that it still must be part of the events emitted upon request creation.

[2022-09-01 08:40] istankovic commented on #893
After a discussion with @fredo we decided to

- [ ] add a whitelist to `RequestManager`
- [ ] modify the agent to check whether it is whitelisted in the source `RequestManager`

[2022-09-01 09:22] istankovic commented on #989
We can also consider converting the `claimId` to be a hash of `(request hash, fillId, block.timestamp)`:

[code]
This would allow us to remove `claimCounter`.

[2022-09-01 10:15] istankovic opened #993 "Remove fill hashes from FillManager"
We need to
- [x] change the `fills` mapping to be `mapping(requestHash => fillId)`
- [x] rename the `HashInvalidated` event to `FillInvalidated` and remove the `fillHash` field from it
- [x] update the agent
- [ ] update the tests
- [ ] update docs

[2022-09-01 11:35] fredo opened #994 "Merge RequestManager and Resolution Registry"
We now have a mapping from request hash => request in the Request Manager and request hash => fillIInfo in the Resolution Registry. We can now unify the mappings and merge the resolution registry into the Request Manager.

### Removing FillInfo
No need for this struct anymore as it is only used inside the Request Manager

### Storing Filler Info
The L1 resolved data can be stored directly in the r

[2022-09-01 11:38] fredo commented on #993
also remove any references to `fill hash` in the docs

[2022-09-01 13:56] fredo commented on #893
can we also add

- [ ] adapt `call_contracts.py whitelist` to whitelist directly on all corresponding contracts

[2022-09-01 15:35] GabrielBuragev opened #995 "Frontend: Progress line has gaps when error message is too long"
#### System information

OS & Version: All
Browser & Version: All
Commit hash: when using checkout

#### Expected behavior
Progress line should not contain gaps between the step circles.

#### Actual behavior
Progress line contains gaps between the step circles when error message is too long.

![image](https://user-images.githubusercontent.com/18466333/187954332-b6d6566a-c417-4a5c-ba2c-90cb2a59ccf

[2022-09-01 16:37] GabrielBuragev commented on #937
We have to check how this will work on mobile devices.
[MetaMask/metamask-onboarding](https://github.com/MetaMask/metamask-onboarding) library that allows redirection after metamask installation to the caller app (beamer in our case).
We could use it in order to retain some flow when we redirect the user to the install page.

Regarding mobile device support, there is an [open PR](https://github.co

[2022-09-02 13:47] #970 closed

[2022-09-02 13:47] #904 closed

[2022-09-02 13:47] #995 closed

[2022-09-02 13:54] GabrielBuragev opened #998 "Frontend: Box shadow is overlaying the label text making it harder to read"
Due to an existing box-shadow implementation on top of the transfer history container, the labels and elements that are close to the top of the container are overlayed with shadow.
The elements need to be pushed further down so the shadow is not falling on the labels by default when the container has not been scrolled.

Also the shadows on the bottom of the container are not visible due to incorre

[2022-09-05 07:45] fredo opened #1000 "Agent does not allow L1 resolution events in all possible states"
As seen during mainnet testing, `RequestResolved` events are not allowed in all possible cases. This is due to the fact that l1 resolution can happen any time once it is finalized. There is no challenge game necessary for that.

Additionally, state transitions are sometimes in a `try catch block` to handle `TransitionNotAllowed` exceptions, but not in all cases.

[2022-09-05 07:52] GabrielBuragev commented on #988
What is the criteria for this issue to be marked as resolved?
Is it enough that we fix the big gap between transactions?

From my understanding of the description that would be enough.
If so, this issue will be fixed with the PR #999.

[2022-09-05 08:22] GabrielBuragev commented on #935
@olympe-silve any idea how to solve the issue with the beamer logo on mobile devices?

![photo_2022-09-05_10-20-59](https://user-images.githubusercontent.com/18466333/188402960-2dda6c84-41be-4641-8090-8d2b94339f75.jpg)

[2022-09-05 09:47] czepluch commented on #988
Yes, I think so. I don't care if they collapse or stay open. I think it's most intuitive if they stay "open" with the detailed data though.

[2022-09-05 09:59] olympe-silve commented on #935
@GabrielBuragev I will send you an idea today

[2022-09-06 10:22] istankovic opened #1002 "Perform a challenge game test"
Once #1000 is fixed, we need to

- [x] start mainnet agents again

* make a transfer request
* make sure the request is filled by one of the agents
* challenge the corresponding claim
* check whether the agent responds to the challenge
* make another challenge (within the same challenge game)
* check whether the agent responds to the challenge
* do not respond further, making the agent win the gam

[2022-09-06 10:30] fredo commented on #1002
additionally we should test that the agent protect the protocol by challenging false claims

- [ ] create a false.claim for existing request I'd
- [ ] confirm that one agent challenged
- [ ] after termination confirm that agent withdrew
(most likely the agent should already be able to withdraw once the tokens are withdrawn by the real filler)

[2022-09-06 10:37] fredo commented on #1002
testing non fill proof

- [ ] shut down one agent
- [ ] drain agents funds on boba roll up so that he is out of funds on boba
- [ ] create a request he cannot fill
- [ ] claim the request
- [ ] confirm that agent created non fill proof
- [ ] confirm that agent challenged claim

optionally

- [ ] counter challenge until enough funds are raised
- [ ] wait 7 days
- [ ] confirm that agent resolved on

[2022-09-06 11:10] #1000 closed

[2022-09-06 18:29] #968 closed

[2022-09-07 07:06] DocSmoove opened #1004 "Adding a scroll bar to see past activities"
Overview
A community member suggested adding a scroll bar on the right side of the Activities detail so users know that they can see all of the past transactions

# Rationale

Why should this feature exist?
- Sometime's people do not know that they can scroll down and see their transaction history

What are the use cases?
- Better UI experience so users can easily know they can see all transaction

[2022-09-07 12:23] #965 closed

[2022-09-07 12:23] #998 closed

[2022-09-07 12:23] #988 closed

[2022-09-08 08:46] fredo commented on #991
@istankovic I thought a bit more about the discussion of blockhash and also consulted @cducrest.
I'm leaning more towards moving the fill id generation into the fill manager and get rid of the FillIdGenerator.

If for whatever reason the fill id needs to be generated roll up specifically, we need to pivot. Do you agree?

[2022-09-08 09:09] istankovic commented on #991
Fully. :+1:

[2022-09-08 09:22] fredo commented on #1002
# BOBA

- [x] [Request with id 48](https://bobascan.com/tx/0x53f6a8d078ac54e058f82fbb0f80294dfc8ec2ec84942b910789a0389670ee11)
- [x] [False claim](https://bobascan.com/tx/0x4aabcaef28dde64c1c0d940ef3dfb7b75d73b182433940693abe00e2f8424cb2)
- [x] [Challenged by 0xf6bb6190f48dadf6b25f8d2b7a24ecb9b10c5abd](https://bobascan.com/tx/0xc73aef6239eb8969752823413a3d27fc5ca1bdd49b56366055f8c08810058673)
- [

[2022-09-08 12:46] andfletcher commented on #788
I have some questions that are not clear to me.

Will the agents run this service on their own? Will they be able to run a setup/initiation script that will let them define the parameters, e.g., what email address the warning should be sent to? What is the threshold, how many times should the person receive an email per day / what are the check intervals once he runs out of funds? Is it just once

[2022-09-08 12:50] andfletcher commented on #778
@fredo @istankovic have you created issues in your workshop week that we can add to this epic?

[2022-09-08 13:28] GabrielBuragev opened #1010 "Transaction details should stay open"
As discussed in #988, we would like to have the transaction details open even when the user scrolls below or above the opened transaction detail inside the transaction history container.

[2022-09-08 14:18] fredo commented on #778
We did not come to the point talking about this

[2022-09-08 14:34] fredo opened #1011 "Rework the challenge strategy of the agent"
During the challenge test, we realized that the agent is not behaving as expected when it comes to challenges.

* The agent will never stop counter challenging
* Upon each `ClaimMade` event, an `InitiateL1Resolution` event will be created.
* Each `InitiateL1Resolution` event will trigger a new relayer process

## Changing the agents challenge strategy
We currently have a very basic strategy.
When

[2022-09-08 15:16] fredo opened #1012 "Research: create plan for e2e testing for frontend"
# description
In the past, former colleagues were looking into a full e2e test setup for the frontend.

We need to look into that again and make a plan what to create.

# Acceptance criteria
- [x] Epic #384 has been reworked and sub issues are created
- [x] Current open issues that are related to frontend e2e should be sorted , merged or closed so that we dont have issues we dont need

[2022-09-09 07:40] #893 closed

[2022-09-09 10:34] GabrielBuragev opened #1015 "Frontend: MetaMask button not working on mobile device browsers"
#### System information

OS & Version: All
Browser & Version: All
Commit hash: when using checkout

#### Expected behavior
On mobile, MetaMask button should redirect the user to MetaMask mobile app instead of having no action.

#### Actual behavior
MetaMask button is not triggering any action on mobile.

#### Steps to reproduce the behavior
Open the app on any browser on your mobile device (not fr

[2022-09-09 13:51] GabrielBuragev commented on #1015
After some research on this topic, i figured out that the standard approach of other popular dApps (uniswap, multichain) is that they all stick to using only `WalletConnect` for connecting to wallets on mobile devices.

A redirect to the MetaMask app might lead to dirty UX flow since we don't hold any information about the user's device and which apps are installed on it.
With that said, if the us

[2022-09-12 13:37] #991 closed

[2022-09-13 09:04] #975 closed

[2022-09-13 09:09] fredo commented on #992
update, targetChainId cannot be removed. We need it when getting the finality pariod in case of a challenge.

[2022-09-13 14:21] #990 closed

[2022-09-13 19:41] #564 closed

[2022-09-14 08:27] istankovic opened #1024 "Exception when trying to ignore a claim"
The following exception happens with our mainnet agents:

[code]

[2022-09-14 09:12] GabrielBuragev opened #1025 "Frontend: Adjust protocol related code to reflect latest contract changes"
Due to refactoring of some of the contracts, the frontend code needs to be changed accordingly.
Most importantly, the PRs #1016 & #1032 are introducing changes to the `RequestManager` & `FillManager` contracts which affects the communication between the frontend and these contracts.

Common changes affecting all the files below:
- `requestId` type changed `uint256` -> `bytes32`.
- `withdrawInfo` s

[2022-09-14 10:16] fredo commented on #1024
The reason is that during sync, an agent could process all events from the source side first, bringing the claim into different states (i. e. challenger winning.) Once the corresponding fill is processed the claim suddenly becomes valid and the `ignore()` state change will be triggered in `process_claims()`

[2022-09-14 10:21] #992 closed

[2022-09-14 11:52] istankovic opened #1028 "Extend the e2e test script to support different chains"
Currently our e2e test script uses a single chain for everything.
We need to
- [ ] modify the script so that it takes the source chain and a target chain, submits a request on the source chain and fills it on the target chain
- [ ] output the fill id and the filler
- [ ] write a new script (sample usage could be `check-l1-resolution filler fill-id`) to check for L1 resolution result

[2022-09-15 08:19] #937 closed

[2022-09-15 08:19] #1015 closed

[2022-09-15 08:56] #898 closed

[2022-09-15 10:07] #664 closed

[2022-09-15 10:36] GabrielBuragev commented on #982
Update: loading indicators are now showing but only because [one of the parent components](https://github.com/beamer-bridge/beamer/pull/1017/commits/2578cabd81a96a37ddabde14ed86505fa896225a#diff-ea7f86544da4da836c8b5881ef9e8de9f02e9f4befe7098cb7cff148331639cbR16-R19) of `<Spinner>` is assigning the `border` & `size` classes inline.

For this reason, i am removing the bug label and adding an optimi

[2022-09-15 10:42] GabrielBuragev commented on #469
This issue will be fixed with #935 since its a part of a bigger issue related to the mobile device layout.

[2022-09-15 10:42] #469 closed

[2022-09-15 11:04] GabrielBuragev commented on #1012
Used already created epic #384 to add the e2e issues in it.
All the test issues are now inside of it.

Since all the issues inside of it have pretty good descriptions, there was no need to add new ones or edit (for now).
I will go through them one more time and maintain them in the near future based on the needs.

[2022-09-15 11:04] #1012 closed

[2022-09-15 11:22] GabrielBuragev commented on #587
Most of the simple & reusable components hold tests respectively. The overall test coverage for all of them is ~97%.
I would suggest we try to push the coverage in the 99-100% range so we can close this issue finally.

[2022-09-15 13:45] fredo opened #1031 "tasks for mainnet"
- [x] beamer-bridge/product#149
- [x] beamer-bridge/beamer#1037
- [x] re-deploy frontend on hard to guess url
- [x] make new agent release
- [x] update run-you-own-agent repo
- [x] agent setup
- [x] Shutting down test mainnet agents
- [x] removing test mainnet agents from whitelist
- [x] adapt Requestmanager config (limit, fee)
- [x]  set correct url to frontend instance
- [x] https://github.com/b

[2022-09-16 07:45] fredo opened #1033 "Update documentation after contract simplifications"
#993 and #994 fundamentally changed the contracts.

We need to update the documentation:

- [x] remove all descriptions of fill hash
- [x] update the contract graph
- [x] remove everything regarding resolution registry
- [x] Adapt the description about how l1 resolution works
- [x] Describe how request id is generated
- [x] Read over complete documentation and verify that everything makes sense

[2022-09-16 10:22] GabrielBuragev opened #1035 "Frontend: Detect blacklist addresses & prohibit usage of dApp"
# Why should this feature exist?
Due to legal reasons, there is the need of maintaining a blacklist of wallet addresses which should be prohibited from using our dApp

# Implementation
https://github.com/brainbot-com/PoWDump/pull/12

[2022-09-16 15:43] #994 closed

[2022-09-16 15:43] #993 closed

[2022-09-19 08:15] #1024 closed

[2022-09-19 11:02] andfletcher commented on #989
@fredo Is there more to be done to finish this epic? I currently see no further issues connected, so I would assume we finished the epic. Please do let me know if there is more to do so we can make sure to create / link the issues.

[2022-09-19 11:12] fredo opened #1037 "cherry pick commits to new branch for agent and frontend on current deployment"
We will need to create a "stable branch" for the currently deployed contracts. The stable branch is supposed to always be compatible with the currently deployed contracts on mainnet.

[2022-09-19 11:14] fredo opened #1038 "make new agent release"

[2022-09-19 11:15] #1038 closed

[2022-09-19 11:18] fredo opened #1039 "Preparing Request Manager / Fill Manager - Tearing down test agents"
Before announcing we need to

- [x] shutdown our mainnet test agents
- [x] remove them from whitelist
- [x] add real agents to whitelist
- [x] configure the correct limits in the Request managers

[2022-09-19 11:20] fredo commented on #1002
Before finalizing the tests we need to:

* wait for #1037
* update agents
* start agents
* investigate challenge issue between the agents

[2022-09-19 12:25] istankovic opened #1040 "Arbitrum E2E test"
We need to finish the `abitrum.sh` script and make sure to have E2E test under CI.

[2022-09-19 12:29] GabrielBuragev opened #1041 "Frontend: Implement wallet disconnect feature"
Currently, there is no proper wallet "disconnection" option for the user on the app's UI.
There is only one way the user can disconnect his wallet from our site and that is by tapping into the wallet provider extension/app configuration.

In order to improve UX we need to implement a more straight-forward & prominent flow for the users to be able to connect/disconnect from their chosen wallet prov

[2022-09-19 14:34] fredo commented on #989
Only updating the docs, but since it is in this sprint I dont mind that the epic can be closed

[2022-09-19 17:03] GabrielBuragev opened #1043 "Frontend: Integrate chatbot"
Due to a [marketing decision](https://github.com/beamer-bridge/marketing/issues/112) we need to integrate the following embed snippet on our app in order to enable the chatbot:

[code]

[2022-09-20 09:49] manuelwedler commented on #587
I don't think we need to strive for such a high coverage. Imo tests that are implemented to achieve a high coverage are sometimes too tightly coupled, and not adding much value. The goal should just be to have tests that ensure the basic functionality of the components, because there are no tests at all for some components.

[2022-09-20 10:16] GabrielBuragev commented on #587
Thanks for the input Manu!
Okay, lets focus on writing basic tests for those simple components that are missing them and if possible increase the coverage on the current reusable components but not that far that we cover the complex intertwined cases.

[2022-09-20 10:25] istankovic commented on #587
I think this is a valid point and agree to a larget extent with it, but also feel like if the tests are making everything tightly couple, you're doing it wrong. IOW, I do believe coverage can be improved, while not sacrificing abstractions.

I highly recommend this talk on testing and "where it all went wrong":
https://www.youtube.com/watch?v=EZ05e7EMOLM

Food for thought: what do you think "unit"

[2022-09-20 11:26] andfletcher commented on #1043
This should be done shortly before we announce mainnet since we want people to provide feedback.

[2022-09-20 13:03] andfletcher opened #1046 "shit hits the fan plan - @andfletcher"

[2022-09-20 13:54] #962 closed

[2022-09-20 19:37] GabrielBuragev opened #1048 "Frontend: Add links to beamer homepage inside footer and header"
Once the users come to the dApp, there is no way for them to go to the beamer's homepage to read more about our app.
We need anchor links which lead to www.beamerbridge.com.

# Acceptance criteria

- [ ] Beamer logo in the header should link to www.beamerbridge.com
- [ ] "Powered by Beamer" in the footer - "Beamer" link to www.beamerbridge.com

[2022-09-20 19:42] GabrielBuragev commented on #339
@olympe-silve Can we create an epic out of this issue and create sub issues so we can prioritize and work on them?
I will need you to summarize all the remaining improvements that need to be done in order to close this issue.
I will transform it to an epic and create sub-issues once you provide me with the list.
Thanks!

[2022-09-21 08:58] czepluch opened #1049 "Set minimum fee to $1"
# Rationale

The gas prices on rollups have changes quite a lot since we initially created the fee model. We should set the minimum fee lower than $5. Currently 1 tx on rollups costs around $0.10 and an agent does 3 per fill. So have some room for fluctuating gas prices, it is suggested that the minimum fee is set to $1.

# Implementation

- [x] Update the minimum fee in the mainnet deployment to

[2022-09-21 09:26] #1035 closed

[2022-09-21 10:16] andfletcher commented on #1037
Can be closed. There is a new set of changes coming soon (new issue will be created)

[2022-09-21 10:16] #1037 closed

[2022-09-21 10:33] andfletcher commented on #1049
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Development-62442a69c5e6e60010e31cf3/issues/beamer-bridge/beamer/1049?planning-poker) with Zenhub @fredo @istankovic

[2022-09-21 10:45] andfletcher commented on #1049
@GabrielBuragev please be aware that I added a component for this issue after aligning with Jacob.

We need the sentence "The minimum fee for a transfer is 1 USDC"  at the end of the popup (when you hover the mouse over "?")

[2022-09-21 10:47] andfletcher commented on #1049
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Development-62442a69c5e6e60010e31cf3/issues/beamer-bridge/beamer/1049?planning-poker) with Zenhub @GabrielBuragev

[2022-09-21 11:28] GabrielBuragev commented on #1049
@andfletcher Should we create 2 separate issues and add them in this issue description and estimate them separately?
Since this issue covers work on both frontend & backend.

[2022-09-21 11:29] fredo opened #1051 "Create isWithdrawn() function for requests"
As a developer I want to read the contract's state and see if a request is withdrawn or not. There is currently no exposed function for this.
Added value is, that developers who build on beamer can easily find out if a request is withdrawn or not.

PSEUDO
[code]

- [ ] Frontend should be able to use this function

[2022-09-21 11:32] fredo opened #1052 "Agent needs to handle claims after L1 resolution"
## Description
Currently the agent makes an assumption that expiry and therefore creation of claims happens before L1 resolution. This might not be true for target rollups with low finality periods. We need to address this in the agent's state machine.

things like:

- creating claim in l1 resolved state
- handling invalidation events which came prior to claim creation

needs to be addressed.

##

[2022-09-21 11:36] andfletcher commented on #1049
i dont think its worth it. Its a good practice on how we can swarm on issues together to finish them since both acceptance criteria are unrelated but still go towards the same value.

[2022-09-21 11:54] GabrielBuragev commented on #1049
Where are the fees defined?

[2022-09-21 12:00] andfletcher commented on #1049
This is a good point. But currently, we only support USDC, so it should not matter for now.

[2022-09-21 12:01] andfletcher commented on #1049
I dont know but why do you need to know where the fees are defined (just asking)

[2022-09-21 12:02] czepluch commented on #1049
They are defined in the contract. So you should be able to pull the number from there. Especially since we might need to manually update it in the future based on gas prices.

[2022-09-21 14:37] DinaBB commented on #1043
@GabrielBuragev @czepluch @andfletcher

After testing the chatbot in a demo environment, some formatting errors were noticeable. Other than that, it all works fine. Unfortunately, the edits resulted in a slight code change.

I will let you decide about prioritizing the change according to other to-do's in the context of the mainnet change. Just let me know here by when it can be done. :)

Here is

[2022-09-21 14:47] andfletcher commented on #1043
Well now its in the sprint so lets get it done :)

[2022-09-21 15:10] fredo commented on #782
This bug was now fixed by a different strategy. Namely only processing requests after both chains have synced. This led to the fact that we will definitely get the fill event before the claimMade event and will not call try_to_claim again

[2022-09-21 16:05] fredo opened #1055 "Only get into withdrawn state if all stakes are withdrawn"
The agent is not aware of multiple ClaimStakeWithdrawn events arrinving. We need to address this correctly.

The agent must be able to consume multiple of those events.
The agent must get into the withdrawn stake after he does not care anymore about other withdrawn events.

The agent must withdraw its own stake only once.

[2022-09-21 16:07] fredo opened #1056 "End lifecycle of claims upon L1 resolution"
contracts: closing lifecycle of claim upon l1 resolution or non-fill proof

[2022-09-21 16:40] GabrielBuragev commented on #1049
@andfletcher As Jacob explained. Need to know where to fetch them from on the frontend.

[2022-09-22 09:32] #1043 closed

[2022-09-22 09:50] #935 closed

[2022-09-22 15:05] andfletcher commented on #1055
(agent needs to be updated after this issue is closed, potentially there are more issues that need to be done before an update is done - e.g. batch of issues. )

[2022-09-22 15:14] andfletcher opened #1064 "Changing the agents challenge strategy"
## Description
We currently have a very basic strategy.
When the agent counter challenges the first time as a claimer or challenges the second time as a challenger, he will increase the stake to a value where it should be sufficient to go to L1 if counter challenged again.
If counter challenged the agent will stop engaging in the challenge and wait for the finality period to be passed.

It is not

[2022-09-22 15:34] andfletcher commented on #1051
@fredo can you formulate this issue as a User story e.g. as a user i would like to do **** so that i can *****

[2022-09-22 15:34] andfletcher commented on #1051
basically elaborate on the user value

[2022-09-23 09:28] istankovic opened #1067 "agent: write a test for multiple invalidations of the same fill ID"
With the current contract implementation it is possible that the same fill ID is invalidated multiple times, resulting in multiple `HashInvalidated` events. Only the first of those (for a specific fill ID) needs to be handled, the rest should be dropped.
Write a test for this.

[2022-09-25 18:39] fredo opened #1068 "Remove finalized events upon startup"
Upon start up the agent will process all events of the contracts' history. This is unnecessary because the longer the contract lives, the more events are already finalized.
The definition of finalized here is, there is no possibility that another event can be emitted to a certain request or claim id. Typically that is the case when the request deposit is withdrawn and all claims associated to the

[2022-09-25 18:44] fredo opened #1069 "Pushing unprocessed events back in order"
We are currently appending unprocessed events back to the event loop. This causes mixing up the chronological order of events.

We have currently seen unforeseen bugs in the state machine due to things like this. We can reduce the probability of errors appear by mitigating such actions.

To my understanding it should be sufficient to prepend the unprocessed events to the event loop. This way we en

[2022-09-25 18:50] fredo opened #1070 "Don't process hashInvalidated events before request is created"
Still in discussion.

We have a catch 22 situation with handling `HashInvalidated` events. It might be the case that `HashInvalidated` events arrive earlier than request creation due to different chain speed and during sync.

In order to not lose the event (the timestamp can be crucial for correct claim resolution) we have to prevent processing the event. On the other hand `HashInvalidated` events

[2022-09-25 18:55] fredo commented on #1051
done

[2022-09-26 06:48] DocSmoove opened #1071 "Adding a "I want to approve infinite sum" button"
# Rationale
We had several of our users complain/point out that it is a little weird our bridge is requesting to have access to their entire balance.
![image](https://user-images.githubusercontent.com/107990484/192210817-7ec6f808-93f7-4abb-ab7a-e4dc347321ee.png)

Alternatively, a community member has suggested a potential UX solution.
![image](https://user-images.githubusercontent.com/107990484/19

[2022-09-26 07:25] fredo commented on #1071
General question here? Does the user approve for the entire balance or for infinite amount?
Those are two different values.
The entire balance would indeed sound weird. Infinite amount is also risky but somewhat usual in the space.

[2022-09-26 07:34] fredo commented on #1052
This is already implemented in branch `0.x`

[2022-09-26 07:47] GabrielBuragev commented on #1071
@fredo
How [it's impemented currently](https://github.com/beamer-bridge/beamer/blob/main/frontend/src/services/transactions/token.ts#L20-L23), the allowance is given on the full token balance.

It could be adjusted to give allowance on the `minimumRequiredAmount` instead of `signerTokenBalance`.

Hint: `minimumRequiredAmount.asString` is holding the value of `tokenAmount` being sent + `fees`.

[2022-09-26 09:04] GabrielBuragev opened #1072 "Frontend: Add basic unit tests for complex Vue components"
Sibling issue of https://github.com/beamer-bridge/beamer/issues/586, https://github.com/beamer-bridge/beamer/issues/587 & https://github.com/beamer-bridge/beamer/issues/589.

Complex Vue components we are targeting:
- `RequestDialog`
- `RequestSourceInputs`
- `RequestTargetInputs`

Basic tests are needed to ensure basic functionalities work correctly.

[2022-09-26 09:13] andfletcher commented on #1064
- [ ] testing on mainnet needs new issue for this issue #1064

[2022-09-26 10:50] fredo commented on #1068
I briefly looked at the code and luckily the initial sync is already decoupled from the infinite loop in the EventProcessor.
This gives us the possibility to do something like this

[code]

[2022-09-26 12:12] #1033 closed

[2022-09-26 13:46] andfletcher commented on #989
@fredo can you link the issue regarding the docs to this issue. I can not find it.

[2022-09-26 14:07] fredo commented on #989
added it to the epic, it's already completed. Closing this epic

[2022-09-26 14:07] #989 closed

[2022-09-26 14:21] fredo opened #1075 "Plan process of new deployment"
We need to create a process for deployment.

The reason is that we have a central point where the source of parameters is and a concept of double-checking that everything is correct.

There should be at least 4  eyes concept of checking parameters before the deployment and checking the correct configuration of deployed contracts.
Ideally, we have a sheet where responsible persons are assigned and

[2022-09-26 14:27] czepluch opened #1076 "Darkmode of docs is not nice for graphs"
#### Expected behavior
Our docs support dark mode, but some of the graphs are hard to read when the background is dark. It should be possible to read the graphs in both dark and light mode.
See attached photo:
<img width="745" alt="Screenshot 2022-09-26 at 16 23 53" src="https://user-images.githubusercontent.com/1026799/192301844-a7d38ccc-2ea2-44d5-8cd4-691fc7ff9246.png">

#### Steps to reproduce

[2022-09-26 14:42] fredo opened #1077 "Perform agent L1 resolution test"
### Test
* make a transfer request
* make a transfer request
* make sure the request is filled by one of the agents
* challenge the corresponding claim
* check whether the agent responds to the challenge
* wait for the fill message to finalize
* make another challenge (within the same challenge game) with enough funds to go to L1
* make sure the agent triggered L1 resolution
* wait for the results

[2022-09-26 14:43] fredo commented on #1002
closed in favor of #1077

[2022-09-26 14:43] #1002 closed

[2022-09-26 14:48] czepluch commented on #1077
I am moving this to the top of the backlog, and I want to be able to pull it into the current sprint as priority once our first external agent is up and running.

[2022-09-26 14:49] czepluch commented on #1077
Still needs an estimate. @andfletcher can we refine this in the standup tomorrow?

[2022-09-26 16:03] istankovic commented on #1076
Thanks for submitting this!

[2022-09-27 08:40] istankovic opened #1079 "Move from brownie to ape for our contract and agent tests"
Brownie seems to be unmaintained and needs fixing which is frustrating. There is a fork if brownie called [ape](https://github.com/ApeWorX/ape) which seems to be more active. For the most part, it looks like a direct fork of brownie, with added features on top (e.g. support for multiple chains).

We should
- [x] convert contract tests to ape
- [x] convert agent tests to ape
- [x] update docs
- [x]

[2022-09-27 10:29] fredo commented on #1068
We are doing this already and I actually don't know how you would want to prevent that. We are not processing events before the sync is done.

That's easy. In order to make it work we need to sort that Request Manager events are at the end of the queue. This is achievable by iterating once over the queue which is of complexity O(n).

I don't understand this part. We are simply discarding events as

[2022-09-27 10:35] istankovic commented on #1068
Actually, it is not. With CSR, filtering does not make sense. CSR basically does just what the contracts do. I'd be happy to discuss this in a call.

I think we have a different understanding of how CSR would work. Filtering on top of CSR does not make sense -- there is simply nothing to do.

[2022-09-27 10:37] fredo commented on #1068
Ok. I understand that CSR represents the contract state. So if we have 10 events regarding an object it would modify the state 10 times and ultimately remove it. Am I wrong?

[2022-09-27 10:39] istankovic commented on #1068
No, that's exactly right.

[2022-09-27 10:56] fredo commented on #1068
Okay, then we would basically do not do this at all. Because we know beforehand that it will be removed again anyways so we can "safe" writing state 10 times.
Additionally, and most likely we will have to see how we pass events to the state machines of the "roles" like LP and Watcher and if we have to replay state here.

[2022-09-27 11:03] fredo commented on #1068
The only argument for doing it is potentially a short term relief on potential sync errors because implementing CSR is most likely not be done in the short term.

[2022-09-27 12:22] fredo opened #1080 "Rewriting the agent's state machine"
I have been bothered a long time with the way the state machine in the agent is written. With the recent mainnet tests we have seen that the way the state machine is written is a fundamental problem and errors pop up when we have a large set of events being processed on sync.

Currently we are doing patches to fix those issues but this is more like patching a flat tire again and again instead of s

[2022-09-27 12:23] istankovic commented on #1068
CSR, by necessity, must implement finalization logic. Adding another finalization logic and a step before the events are fed to CSR seems completely unnecessary. Consider that you need to fetch all events, sort them (which is `NlogN` at best) and then visit _each_ object just to check whether it refers to one of the already finalized objects. I think we can agree that that is for sure more costly

[2022-09-27 12:24] fredo commented on #1068
I think you have not understood what I just wrote above. It's not `nlogn`.

[2022-09-27 12:28] istankovic commented on #1068
Pretty much, though I am quite sceptical about the benefit here.

Well, that would depend on prioritization. Personally, I would not postpone CSR, or something that improves the current situation at least that much, for too long because we will end up complicating the code base further and further, which is not sustainable.

[2022-09-27 12:31] istankovic commented on #1068
Fully agreed. :+1:
I will reread the description once more to see what I missed.

However, my point still holds even you throw out the sort operation altogether or make it `O(1)`.

[2022-09-27 12:34] fredo commented on #1068
I really dont understand why you write `We need to fetch all events`. We have to do that in any case so this can't be part of an evaluation.

Take this as an illustration:
[code]

Does not seem to me as nlogn.

[2022-09-27 12:51] istankovic commented on #1068
[...]

Eh, if the above is what you meant by "sort", then that explains my confusion. Nevertheless, as I mentioned, even if you ignore the sort operation, you still do work that is not necessary (note: this is all in response to the "CSR + filtering?" topic).

[2022-09-27 14:16] istankovic commented on #204
This can be closed now that the pre-audit contract changes have been done. Further ideas regarding storage reduction should be outlined in new issues.

[2022-09-27 14:16] #204 closed

[2022-09-27 14:16] istankovic commented on #927
Closing, nothing to be done here.

[2022-09-27 14:16] #927 closed

[2022-09-27 14:19] andfletcher opened #1081 "Educate team on OKRS and agree on a shared understanding how to use them"
## Description
For the upcoming phases of Beamer I suggest we switch to OKRS. Sofar we have been using the Milestones / Deliverables from the Investment proposal to define budget, resources, deliverables to shape what we work on. Since we dont have any IPs in future we have the opportunity to shift to Objective and key results.

## Problem
Even though OKRS have been used for several projects, my e

[2022-09-27 14:22] andfletcher commented on #1081
Suggestion on story points is an 8 (as all timeboxed events I suggest)

[2022-09-28 08:26] fredo commented on #1080
This seems to be a bigger issue, with preparation work (specifying the design/state machines) before implementation. Given the forecast of the next month, I think it would be a nice work which could be done at the retreat.
I imagine a workshop like the ones which have taken place before in Mainz. @czepluch what do you think about this?

[2022-09-28 10:27] fredo commented on #1070
We keep events in the loop until the corresponding request arrives.

[2022-09-28 10:55] fredo commented on #1049
Update Fee

Protocol: 0 PPM
Agent: 3000 PPM
Fixed Fee: 1000000

[2022-09-28 12:56] istankovic opened #1085 "Don't create unneeded InitiateL1Resolution events"
We currently create multiple `InitiateL1Resolution` events instead of just one, upon receiving the first challenger's `ClaimMade` event. These events can live in the event for some time, causing multiple futures to be created needlessly. We should change the agent so that we create create only one `InitiateL1Resolution` event, upon receiving the first challenger's `ClaimMade` event.

- [ ] write a

[2022-09-28 13:06] istankovic opened #1086 "Query L1 gas price at most once per L1 block"
Once an `InitiateL1Resolution` event is created and inserted into the event loop, it will cause a gas price RPC call approx. every second, which is not desirable nor actually needed due to the fact that block time is ~15s on Ethereum mainnet. The situation gets worse as the number of concurrent challenge games increases. To mitigate this, we should cache gas price by using `web3.middlewares.latest

[2022-09-28 14:50] istankovic opened #1088 "Cherry-pick 0.x changes to main"
We need to review changes made to the `0.x` branch (listed below) and cherry-pick those that make sense to the `main` branch.

[code]

[2022-09-28 16:08] istankovic commented on #1049
Fees updated on Optimism: https://optimistic.etherscan.io/tx/0xf2aaf2c93e41061fc106ea6aa62f186c258d865da31ea26b0e7f6b4468791212

Fees updated on Boba: https://bobascan.com/tx/0xa5b9119ea5a903961352661606b2009d8ab96d334b70e54767a59f333e850d94

[2022-09-29 07:40] istankovic commented on #1068
I would like to expand on this a bit:

The CSR is in the best position to do filtering i.e. prevent the unnecessary events reaching the higher (role) level, by doing
the following:

- during sync, events for each object (request or claim) are being stored separately, in order (e.g. `dict[RequestHash, [Event])`)
- as the CSR consumes each event and updates its state, some of the objects will become

[2022-09-29 07:56] fredo commented on #1080
we will encorporate #1068 here

[2022-09-29 07:59] #1049 closed

[2022-09-29 08:21] GabrielBuragev opened #1090 "Frontend: Reduce network requests for caret icons"
#### System information

OS & Version: Windows/Linux/OSX
Browser & Version: Chrome
Commit hash: when using checkout

#### Expected behavior
The caret icons are only loaded once.

#### Actual behavior
The caret icons are loaded everytime the state of the transfer expandable component gets changed from `closed` to `open`.

#### Steps to reproduce the behavior
![caret-loading](https://user-images.git

[2022-09-29 08:28] GabrielBuragev opened #1091 "Frontend: Remove unused libraries"
There this library `vue-select` which is not being used anywhere in the code (nor its css) and yet its listed under `dependencies` inside `package.json` and its css [is being included](https://github.com/beamer-bridge/beamer/blob/main/frontend/src/main.ts#L3) in the app.

We could optimize loading times by completely removing it and possibly other unused libraries if any.

@manuelwedler Can you co

[2022-09-29 08:48] GabrielBuragev opened #1092 "Frontend: Detect deprecated contracts & prevent request failures"
# Rationale
In the situations where we redeploy the contracts in order to update them to the latest version we will also deprecate the old contracts.
Currently the app doesn't care/know about the contract deprecation and still allows transfers to be created. These transfers will fail and give the user a confusing error message as to why they failed.

We could avoid this by perfectly coordinating/a

[2022-09-29 09:09] istankovic commented on #1039
On it. :+1:

[2022-09-29 12:00] andfletcher opened #1094 "Ask for transfer value approval rather than current balance"
## Problem
We currently ask users to provide token access up to the total balance they have of this token for our bridge transfers. This is not what we want

## Solution
Change it so that a user only provides amount of the transfer

## Accaptance criteria
- [ ] We dont ask for full balance but only the amount of the transfer
- [ ] Token approved sum is reduced to zero after transfer has been done

[2022-09-29 12:04] andfletcher commented on #1048
Can be done without input from design. Needs to be follow current design.

[2022-09-29 12:22] fredo opened #1095 "Align on process for maintaining multiple branches/stable versions"
- [ ] set date for initial call

[2022-09-30 07:41] istankovic commented on #1039
Our mainnet agents have been removed from the whitelists:

https://optimistic.etherscan.io/tx/0xc012e8d6cee447e13bcf5fa6b89e14a2eb3bdce88ec87f7eff8f36b9f7d568b8
https://optimistic.etherscan.io/tx/0x3ec1ed6127bbb1fc8064f109c809c0c343eb23cc6a00ad2aeaf418d742cc0743

https://bobascan.com/tx/0xe4f3165a9b3a59e84505fea8866d7f58c187aa8608fd3c909ec609e118cc5b9a
https://bobascan.com/tx/0x08f1bf9161367aac5f4

[2022-09-30 09:06] istankovic commented on #1039
Whitelisted `0xe9070FFc3B1b513F79a35983784C19AeFa093521`:

https://optimistic.etherscan.io/tx/0x546ddb6960431c82638dd2eea6f0b14cad852d34f6dddabda10696807f156e3c
https://bobascan.com/tx/0x363d72ed696fc9412cfaf03ff77e992f200927f48afb6154732c490b55b55e00

[2022-09-30 09:09] istankovic commented on #1039
This is done now.

[2022-09-30 09:09] #1039 closed

[2022-09-30 15:11] istankovic opened #1098 "frontend: Cannot withdraw without connected wallet"
Found during mainnet test:

![image](https://user-images.githubusercontent.com/1312091/193300667-c33a6d96-5865-41df-8cc3-e99e3f93509e.png)

I click on `Recover tokens` and then get `Cannot withdraw without connected wallet!` even though the page says "You are currently connected" and Metamask seems to be working fine. This happened after a request OP -> Boba expired. Reloading the page does not he

[2022-09-30 15:13] istankovic commented on #1098
What seems to help is switching to the Transfer tab and then switching back to the Activity tab. Then I was able to recover my tokens.

[2022-10-04 09:33] #1041 closed

[2022-10-04 11:51] istankovic commented on #1086
Seems like `web3.middlewares.latest_block_based_cache_middleware` does not really work, possibly due to https://github.com/ethereum/web3.py/pull/2346 (which is not in 5.29.1, which we are using).

[2022-10-04 12:13] #1094 closed

[2022-10-04 12:32] manuelwedler commented on #1091
Yes, this can be removed safely. When I implemented our own selector component, this library became obsolete. Missed to remove the dependency.

[2022-10-04 13:00] #1048 closed

[2022-10-04 14:07] istankovic opened #1105 "contracts: replace deprecation mechanism with Pausable"
[Pausable](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/security/Pausable.sol) is a nice OpenZeppelin mechanism that allows one to pause/unpause contracts. It would be an improvement over our current deprecation mechanism.

- [x] replace deprecation with Pausable in RequestManager
- [x] write a test for pausing/unpausing request manager

[2022-10-04 14:23] istankovic commented on #1086
If we periodically query the gas price and do nothing else, it seems the middleware will always return the cached result instead of issuing a proper request as needed. This happens because the middleware make a call `web3.eth.get_block('latest')` which returns _a cached_ block, not the latest block, i.e. it seems that latest block is not properly updated.

[2022-10-04 14:24] manuelwedler commented on #587
The components which don't have tests at all are:

- `Disconnect`
- `ConnectionError`
- `WalletMenu`
- `RequestFeeTooltip`
- `Feedback`

[2022-10-04 14:39] manuelwedler commented on #587
Ah yes. Somehow overlooked them :sweat_smile:

[2022-10-05 07:51] #692 closed

[2022-10-05 09:56] GabrielBuragev commented on #1071
Update to my previous comment:
The implementation has changed in PR #1103. Now users are prompted to give allowance to the request transfer amount (`minimumRequiredAmount`) every time they try to create a new request.

[2022-10-05 12:44] GabrielBuragev opened #1107 "Frontend: Integrate social meta tags"
## Why should this feature exist
Follow up issue of https://github.com/beamer-bridge/marketing/issues/142
For better SEO and social media marketing we need to include the correct meta tags inside our app.

## Implementation

### Code
[code]

### Image for meta tags

![Screenshot 2022-10-05 at 13 37 04](https://user-images.githubusercontent.com/85872820/194052507-1c115eba-a258-44e9-88bc-dd7857c1201

[2022-10-06 11:57] GabrielBuragev opened #1109 "Frontend: Add new network - invalid currency "UNKNOWN""
When a user selects a network on our dApp which is not yet found inside his MetaMask wallet he is prompted to add the network inside his MetaMask app like so:

<img width="785" alt="image" src="https://user-images.githubusercontent.com/18466333/194305350-aa37f06b-08f5-4226-8eac-92755c815cd2.png">

On the image provided, its clear that the "Currency symbol" field is not properly set (defaults to "U

[2022-10-06 13:22] fredo opened #1112 "Prohibit invalidating FillIds of current block"
The protocol makes the assumption that future fill ids can only be guessed. This is achieved by the fill id being the blockhash of the last block (assuming an honest sequencer).

However, the fillId of the current block is known during execution. It is theoretically possible that both, invalidation and fill are in the same block. Since future fill ids must be guessed and all fill ids from past blo

[2022-10-06 13:24] fredo opened #1113 "Store RPC endpoints in ENV variables on hosting platform"
We should hide the RPC endpoints at least in ENV variables where the app is hosted. Currently anyone can read it in our repo.
Additionally, everytime we want to change an endpoint it requires a new build and deployment of the app.

[2022-10-06 17:05] fredo opened #1114 "Contract optimizations"
Implement:

[code]

[2022-10-06 17:31] istankovic commented on #1112
Ah, this is actually a very nice solution! Very nice and simple. :+1:

[2022-10-06 17:33] istankovic commented on #1112
Do you know how we can test this? Because we would definitely like to have a test for this.

[2022-10-06 18:29] fredo commented on #1112
Testing should be fairly simple. We just need to access the block hash of the latest block and use it as a fill id for an invalidation

[2022-10-06 21:51] istankovic commented on #1086
Ok, I found the explanation for the wrong behaviour: we added caching of block data in c22aa1483ca4403fc8669ca0996f0d1336837218.
Where we also cache the eth_getBlockByNumber method. 🤦🏼‍♂️
I verified the latest block based cache middleware works as expected with the "simple cache" middleware removed.

So the solution in c22aa1483ca4403fc8669ca0996f0d1336837218 was overly simple and missed the fact

[2022-10-07 10:13] DocSmoove opened #1115 "Large Gap between recent and previous transactions"
#### System information
There is a fairly large gap between the recent transactions and the previous transactions. This is on the mainnet dApp @GabrielBuragev

<img width="352" alt="Screen Shot 2022-10-06 at 9 43 39 PM" src="https://user-images.githubusercontent.com/107990484/194530546-b350db5c-8196-412b-aaed-6e31027ceb79.png">

[2022-10-10 09:51] GabrielBuragev opened #1118 "Frontend: Switching between networks triggers a wallet disconnect"
The implementation of the internal wallet disconnect detection somehow breaks the network switching flow.
When a network switch is being innitiated the `Eip1193Provider` emits a `disconnect` event for some reason.
We need to rethink the implementation here and come up with another solution.

![wallet-disconnect](https://user-images.githubusercontent.com/18466333/194840329-2beb984c-4e59-4e19-ac06-f

[2022-10-10 13:55] GabrielBuragev opened #1121 "Frontend: Introduce a dynamic vallue for the new network's `nativeCurrency`"
Follow up issue of https://github.com/beamer-bridge/beamer/issues/1109

The app assumes that all the current & future supported chains use the same `nativeCurrency` (ETH): https://github.com/beamer-bridge/beamer/blob/main/frontend/src/services/web3-provider/ethereum-provider.ts#L70

The optimal behavior would be if the app fetches this data for the specific chain inside the app's global configurat

[2022-10-10 14:15] #1107 closed

[2022-10-11 13:00] compojoom opened #1124 "Add Block Explorer when proposing the network for Metamask"
#### Expected behavior
I would expect to be able to click on a transaction in metamask and land on the respective chain explorer

#### Actual behavior
If optimism is added through beamerbridge then transactions made don't have a link to the optimism blockexplorer:
![image](https://user-images.githubusercontent.com/693770/195097364-70d539c5-7a17-49e2-81ea-577548be3026.png)

When we propose the opti

[2022-10-11 14:49] GabrielBuragev opened #1125 "Frontend: Implement a transfer history recovery/sync module"
Currently, the app's transfer history is solely depending on `localStorage` as a storage mechanism.
This leads to a few issues:
- Inconvenient UX flow when switching between devices/browsers - transfer history is lost
- Breaking changes in contracts lead to breaking changes on the frontend facing protocol interfaces - ABIs & other protocol related classes. Transfers stored inside `localStorage` ar

[2022-10-11 18:20] DBecane opened #1126 "Frontend: Clickable logo on the app - enabling direction switch"
## Description of Deliverables(s)

As per #339 there is still a remaining feature to implement. This has also been addressed by the community recently: 'Our logo is like a toggle button, can we switch between 2 chains when we click on this logo? ' (see Discord - feedback channel)

## Deadline

This is not super urgent, but it would be good to prio in this or the next sprint.

[2022-10-11 18:30] DBecane opened #1127 "Frontend: "Use max" token amount feature should include fees in final amount"
## Description of Deliverables(s)

Community member:
When I have 326usdc in my wallet, choose max, it will prompt that the amount is not enough.
It took a long time to understand this setting because a portion of the amount is left to pay for processing fees
Personally, I think this amount can be set as dynamic, if the remaining amount is not enough to pay the commission, it will be deducted from

[2022-10-11 22:56] czepluch commented on #1127
Could you @DBecane or maybe @GabrielBuragev give this issue a more relevant title?

[2022-10-12 13:11] DBecane commented on #1127
Awesome! LMK if you need anything else from me here and as we will want to announce this feature, keep myself and @DocSmoove in the loop here pls 🙏

[2022-10-13 10:52] GabrielBuragev commented on #922
As we are progressing with the adoption of graphs (https://github.com/beamer-bridge/beamer/issues/889) i prepared a solution proposal to this issue [here](https://github.com/beamer-bridge/beamer/issues/1125).
Lets use that issue to further track the progress of this.

[2022-10-13 15:41] andfletcher opened #1131 "Add matomo tracking"
# Rationale
We want to use matomo to get more user behavior insights to improve the website and app.

# Implementation
 - [x] Add the following to our websites:

Make sure this code is on every page of your website. We recommend pasting it immediately before the closing </head> tag

[code]

- [x] Add a disclaimer to our privacy policy that we are using matomo

[code]

In addition to the data menti

[2022-10-13 18:45] manuelwedler commented on #1126
Just my thoughts on this: This will trigger a network switch, and thereby reload the page. We would need a mechanism to store the new target chain for the reload. Maybe url query parameters could work out.

[2022-10-13 18:57] manuelwedler commented on #1127
also I was a little bit confused if we have a max button. Didn't see it at all, as it is only clear when you read the tooltip. I think we should make it clearer that it is clickable. For example by changing the mouse cursor and highlight the color of the balance / adapt it to the look of the other  small buttons (like the add to wallet).

[2022-10-13 22:23] manuelwedler opened #1132 "UX Audit Feedback"
I'm dropping here the feedback that I got during the UX audit of our dapp at devcon.
@olympe-silve please have a look at it and think about on what you agree and disagree. We can have a meeting to discuss it when I'm back from vacation.

Sorry for the long list. If I have time tomorrow I will try to group everything better.

### General
- UX mostly good, mostly UI criticisms
- Do more user testing

[2022-10-14 21:15] manuelwedler commented on #1125
You made good points here. Although I was a bit sceptical first as this can be a heavy time-consuming operation leading to many RPC requests, I think being able to rebuild the history from the events will be a huge UX improvement. We will still have the local storage in place making the recreation from the events only a fallback solution.

I would really prefer to see the Graph solution in place a

[2022-10-17 08:18] GabrielBuragev commented on #1127
Yeah, i just added it like that because there was no design at that moment. I thought it's not going to hurt if we have the functionality out there for mainnet even though the action is not so prominent.
For a proper button/visibility we need a design or at least some input from @olympe-silve here.

[2022-10-17 08:19] #587 closed

[2022-10-17 11:07] fredo opened #1137 "Deployment script for subgraph"
We need to provide a docker compose file to deploy a subgraph. We need to run a subgraph per chain, so this must be addressed in the docker compose file (must be configurable).

The Script need to run the subgraph and an IPFS node to host the DB.

Parameters:
- [ ] network

[2022-10-17 12:56] andfletcher commented on #1137
@fredo why do we need to provide a docker compose to deploy a subgraph for a certain chain?

[2022-10-18 06:10] istankovic commented on #1086
Reopening since the merged PR addresses only the first subtask -- we still need to implement the others.

[2022-10-18 07:11] istankovic commented on #1086
@fredo please review @1140 and #1141.

[2022-10-18 09:11] #1056 closed

[2022-10-18 09:26] andfletcher commented on #1031
All done! :)

[2022-10-18 09:26] #1031 closed

[2022-10-18 13:41] #1098 closed, assigned to nobody

[2022-10-18 14:31] DBecane commented on #1131
@GabrielBuragev can you give me more info about if and for when this issue was prioritized? Just want to get an estimation about when this can be done. I assume this was taken to Jacob already as he was aware of it when we had our marcomms sprint planning.

[2022-10-18 14:34] GabrielBuragev commented on #1131
@DBecane i am already working on it in parallel to other critical issues. Should be live by end of tommorow.

[2022-10-19 07:17] czepluch commented on #1080
I think the idea of a workshop is a very good idea. It might be interesting to do it on the retreat? Preferably sooner if you can find the time, but I doubt it since there is a lot of vacation going on until then.

[2022-10-19 07:36] GabrielBuragev commented on #1131
@andfletcher Is that the right place to put the matomo opt-out element/

<img width="959" alt="image" src="https://user-images.githubusercontent.com/18466333/196626399-01f01b42-6db8-4cec-bb73-e2d1b46dc95d.png">

[2022-10-19 08:28] fredo commented on #1088
is the above the complete list of commits after we branched off of main?

[2022-10-19 08:32] istankovic commented on #1088
Yes, I updated the whole list yesterday.

[2022-10-19 09:02] #1112 closed

[2022-10-19 10:00] andfletcher commented on #1131
@GabrielBuragev ne there needs to be a new number (make it 13. and make contact us to 14.) and add the text that is above:

So should look like this:

13. Web analysis tool Matomo
We analyze the use of our website ...........

then directly bellow "the opt out element" you have in the screenshot

[2022-10-19 10:13] GabrielBuragev commented on #1131
There is already an entry for this at 10.
I adjusted the text based on your requirements.
I will put the opt-out right below that as you described.

![Screenshot_20221019-121203_Chrome](https://user-images.githubusercontent.com/18466333/196663378-e5ba8b65-5aed-4a06-8a01-044baf2746db.jpg)

[2022-10-19 11:40] fredo commented on #1080
I added it to the retreat agenda.

[2022-10-19 12:42] #1131 closed

[2022-10-19 13:46] istankovic commented on #1086
This is now completed.

[2022-10-19 14:03] istankovic commented on #1075
@fredo @GabrielBuragev maybe we can also discuss this one in one of the meetings?

[2022-10-19 14:23] istankovic opened #1146 "Document when and how agents are supposed to update"
In order to bring more clarity and help agents be up to date, we should

- [x] explain our agent versioning scheme, including compatibility considerations
- [x] explain which agent version (series) should be used (e.g. `1.x`, `0.x`...)
- [x] provide an example of how to find the latest version of a version series
- [x] provide pointers to this documentation in the run-your-own-agent repo

[2022-10-19 14:26] istankovic commented on #1146
@czepluch @DBecane should also comms be involved in some way when we make a new agent release? Feel free to comment on this issue.

[2022-10-19 14:37] DBecane commented on #1146
Yes, definitely. I need more info on that topic- please give more context in a short call next week, where I will also be able to ask some questions @istankovic @czepluch. Thanks 🙏

[2022-10-20 09:55] czepluch commented on #1146
I think there's not really anything to add. It's just about the fact that comms should be made aware when we make a new release so that they can tweet about it :)

[2022-10-20 10:36] fredo commented on #1114
I additionally optimized the resolveClaim function

[2022-10-20 10:51] fredo commented on #941
The purpose of the minLpFee is to cover the cost of the transactions the LP did. So basically, a reimbursement for the tx_cost. So it ultimately depends on the gas prices of the rollups and the conversion rate of the rollup's native token to the transfer token (typically ETH/USD).

[2022-10-20 10:52] fredo commented on #941
We should also consider setting a transfer limit on a per token basis

[2022-10-20 11:18] fredo commented on #941
Lets try to get an overview:

* minLpFee
Should cover the cost of the LPs transfers plus some profit.
Depends on gas prices and native token to transfer token conversion.

* transfer limit

* Adding more tokens:
If we plan to add more tokens and especially other than stable coins we have to go with option 2.

Open question: What do we do with unregistered tokens? If we deny the transfer then we im

[2022-10-20 11:28] GabrielBuragev commented on #1125
Check this out https://thegraph.com/explorer/subgraph?id=DfD1tZSmDtjCGC2LeYEQbVzj9j8kNqKAQEsYL27Vg6Sw&view=Playground

"Connext Network" subgraph with similar structure as what we want to achieve. Contains models for `User` & `Transaction`. Might be helpful to peek into the implementation if open source.

[2022-10-24 09:06] czepluch commented on #1071
This issue is estimated without the design efforts needed. @GabrielBuragev please create an issue for the design part.

[2022-10-25 09:43] GabrielBuragev opened #1152 "Frontend: Writing "." as first character inside request amount input breaks app"
![input-amount-bug](https://user-images.githubusercontent.com/18466333/197740706-c9ae3a53-ee9e-43e7-b33b-8c0c6b9dc772.png)

#### System information

OS & Version: All
Browser & Version: All
Commit hash: when using checkout

#### Expected behavior
User should be allowed to type in ".5" instead of "0.5" as initial input in the request token amount field.

#### Actual behavior
User starts typing ".5"

[2022-10-25 11:57] andfletcher opened #1155 "Add Matomo subdomain tacking feature"
## Problem
Current tracking code does not allow to individually tack subdomains (such as app.bea..)

## Solution
Add new code based on https://developer.matomo.org/guides/tracking-javascript-guide#measuring-domains-andor-sub-domains

## PR
https://github.com/beamer-bridge/beamer/pull/1154
https://github.com/beamer-bridge/www.beamerbridge.com/pull/25

[2022-10-25 12:24] #1155 closed

[2022-10-25 14:08] #1127 closed

[2022-10-27 09:01] GabrielBuragev commented on #1152
Try this out: https://github.com/brainbot-com/PoWDump/blob/main/packages/website/components/input-row/custom-decimal-input.tsx

[2022-10-27 09:30] czepluch commented on #1152
We should probably prioritize this, since it's a bug @andfletcher

[2022-10-28 13:12] GabrielBuragev opened #1165 "Frontend: Disallow entering non-numerical characters in token amount input"
Rationale
---
To keep the UI/UX simple & less confusing for the user, as well as the code cleaner & more robust, we need to limit the allowed characters inside the token amount input. The token amount input should only accept numerals and a "." as a decimal separator.
It should work exactly like the token amount input's on PoWDump, Uniswap etc.
Having a free-style input showed us that many things

[2022-10-28 13:21] andfletcher commented on #1165
sound good  @GabrielBuragev i will pull this into the sprint since it can be connected to #1152

[2022-10-28 13:21] andfletcher commented on #1165
@GabrielBuragev please add story points

[2022-11-02 08:38] fredo opened #1169 "Making agent's claim process more robust"
The agent's claim mechanism is not designed for unreliable RPC endpoints. While we cannot account for any unreliability, we can make the process more robust.
This is currently only a collection of optimizations to make the claim process more robust.

- [x] increase validity period in frontend
- [ ] increase min validity period in contracts
- [ ] allow MEV claiming on behalf of others
- [ ] introdu

[2022-11-02 09:09] fredo commented on #1169
### increase validity period in frontend
Currently standard usage comes from frontend. As an easy measurement we can increase the standard validity period to 30 min.

### increase minValidityPeriod in contracts
We can strictly forbid values lower than minValidityPeriod and need to revise the current values.

### Allow (MEV) claiming on behalf of others
Currently only who is in possession of the pr

[2022-11-02 09:41] fredo opened #1170 "Last Contract optimizations by audit"
[code]

* WithdrawClaimId could be put into `uint96` and would then fit into one storage slot with filler (address type takes 20 bytes -> 160 bits).
* TransferLimit on a per token basis will be covered in a seperate issue (together with fees per token)
* In order to fix the 3rd issue  we need to fit lastChallenger and challengerStakeTotal into one slot. In this way reading the lastChallenger does

[2022-11-03 08:19] #1152 closed

[2022-11-03 08:20] #1091 closed

[2022-11-03 08:20] #1090 closed

[2022-11-03 11:24] #889 closed

[2022-11-04 15:51] GabrielBuragev opened #1173 "Frontend: Transactions are failing when token amount transfer limit is exceeded"
#### System information

OS & Version: All
Browser & Version: All
Commit hash: when using checkout

#### Expected behavior
Users should be informed about the max. token amount that they can transfer. Inside the contract, there is a `transferLimit` variable that limits the amount of tokens that can be sent in one request. We should inform the users upfront that a transaction like this will fail.
Be

[2022-11-04 16:28] #1173 closed

[2022-11-07 10:51] andfletcher opened #1176 "Research on bug tracking tool"
## Description
Currently, we have no way to track bugs other than depending on what users report to us.

## Solution
Find and evaluate if and what solution to bug tracking we should add to our app.

## Acceptance criteria
- [ ] Should track as minimum as possible in regards to GDPR

## Timeboxed
5-8 hours

[2022-11-08 09:40] fredo opened #1178 "tx receipt not checked for success"
The agent only checks whether building a transaction on the current state of the chain fails. What is not checked is whether a transaction failed on inclusion.

You will find this out reading the transaction receipt. if status = 0, the transaction actually reverted. We have seen this incident happening on claiming expired requests. Since we do no actually catch this error, the state machine progre

[2022-11-09 10:58] manuelwedler opened #1183 "frontend: MetaMask shows errors for provided chain data"
When a user does not have a network and the dapp triggers to add the network, MetaMask shows an error and a warning that the chain data might not be correct. The issue is that MetaMask checks against this list: https://github.com/ethereum-lists/chains

We should make sure to use the same network name, currency symbol, etc. as in the repo. It might make sense to just fetch it from the list when we

[2022-11-09 11:03] GabrielBuragev commented on #1183
Good idea, lets do this!

[2022-11-10 08:19] #1165 closed

[2022-11-10 08:59] #1124 closed

[2022-11-10 09:14] GabrielBuragev commented on #1137
@fredo I think we can close this issue as the subgraph implementation, together with the deployment scripts & docker compose file, was already done in https://github.com/beamer-bridge/beamer/issues/889, right?

[2022-11-11 12:47] GabrielBuragev commented on #1095
I believe this can be closed now that we have the outcome of the discussion here: https://github.com/beamer-bridge/beamer/pull/1185

[2022-11-11 13:13] istankovic commented on #1095
Thanks for noticing, yes, this should be closed.

[2022-11-11 13:13] #1095 closed

[2022-11-14 15:40] czepluch commented on #890
### Beamer Agent Desired Stats
Below points are a braindump of things we can do to prevent problems when shutting down agents and other general improvements.
* Shutdown mechanism (stop filling request, and then shutdown after timeout period)
* Service to claim on behalf of agents
* Stats to see amount of claims, locked capital, available capital, missed claims, current 24h vol, fees earned,
* RPC

[2022-11-15 17:09] compojoom opened #1191 "Beamer Agents Analytics"
# Rationale
Currently agents running the agent software have hard time figuring out what their balance is, how much money they have locked in the contract or how much fees they have earned. This information is dispursed between different contracts and it's hard to manually calculate.

Why should this feature exist?
Improve agent user experience

# Implementation

Create a dashboard style website w

[2022-11-21 09:26] GabrielBuragev opened #1194 "Frontend: Implement a wallet connection details button inside header"
# Rationale
As a part of the [UX audit](https://github.com/beamer-bridge/beamer/issues/1132), the following feedback was provided by the auditor:

After discussing the UX audit at the company retreat, the team decided to use an approach similar to https://app.uniswap.org/#/swap since that is already a proven standard UI in the web3 space therefore we want to apply it.

### Uniswap's approach expla

[2022-11-21 09:27] GabrielBuragev commented on #1194
@olympe-silve, @manuelwedler please tell me if i missed something.

[2022-11-21 10:12] GabrielBuragev opened #1195 "Frontend: Increase font-sizes for small text components"
## Rationale

Many community members, team members, as well as one [UX auditor](https://github.com/beamer-bridge/beamer/issues/1132) reported small font-sizes for some of the app's components:
- short sentences (text)
- button texts
- error (validation) messages

### UX Auditor's recommendation

## Implementation

Use 14px as a minimal font-size for all the components or the page that are not long

[2022-11-21 10:42] GabrielBuragev opened #1198 "UX Audit - Implementation"
This issue is the outcome of the internal review, by the team, of the [UX Audit Feedback](https://github.com/beamer-bridge/beamer/issues/1132).

[2022-11-21 10:59] fredo opened #1199 "Increase Minimum Validity Period in contracts"
We have a minimum validity period of 5 minutes and maximum of 30. The validity period determines the time window where the agent can safely make his claim. 5 minutes might be too low.

@andfletcher we need a decision on the values here.

## Acceptance criteria
min: 30 min
max 48 hours

To give us the flexibility in the next deployment in casy of anything happens. Will be reevaluated before the nex

[2022-11-21 11:20] istankovic commented on #1199
Regarding the minimum value, at the retreat @fredo mentioned 20-30 min would be reasonable. I'm leaning slightly more towards 30 min, to be a tiny bit more conservative.

Regarding the maximum value, I'm thinking of a couple of hours, say 3 or 4. (I don't consider this too critical.)

There is one other value we should consider -- the one in the frontend, which will presumably be used by the vast

[2022-11-21 13:18] fredo opened #1201 "Claiming on behalf of others"
Currently an address only can claim for itself. This leads to a single point of failure risk.
We can open up this requirement to allow any address claim for another address. This would solve the fact that one address can actually be the filler, but another address can claim on behalf of the filler.

The interesting part is how the claim stake is handled and where it is coming from. As a first step

[2022-11-21 13:27] fredo opened #1202 "Allow new claims after request expiry"
Claiming is only possible before the request expiration. After expiration it is only possible to withdraw the tokens and send them back to the user. This is a hard 0/1 requirement.
We initially introduced this condition to enforce the agent not to fill requests after expiration. Because he wouldn't be able to claim the tokens back, it wouldn't make sense to fill it in the first place. Even if the

[2022-11-21 13:36] fredo opened #1203 "Agent checks time until expiry"
The agent should check how much time is left until expiry before filling a request. Ideally, the agent should be able to configure a value where he is comfortable with filling.

In this way, the agent can go up online and only fill requests which are long enough valid as configured by the entity behind.

- Default value 10 minutes
- Users get a warning message once at startup if they configure the

[2022-11-21 13:41] fredo opened #1204 "Handle Boba error"
It does not seem that the boba RPC will soon be fixed. As a temporary measurement we can handle the error and retry a certain amount of time.

According to Boba, it takes one second at most until block data arrive for the current block. As discussed during the retreat, we can experimentally retry for a couple of seconds and see how often we avoid crashing the agent.

Should there ever be this prob

[2022-11-21 13:58] istankovic commented on #1201
Very nicely written. :+1:
As for the "Claimer whitelist", I'd go with option 3 for now. Once we get rid of the whitelist entirely, it too will go.

The drawback to this is that we postpone the "system overload" testing to a later time, when there's greater damage to be done due to higher volume etc.

[2022-11-21 14:43] GabrielBuragev commented on #1132
After thoroughly discussing the feedback provided by the auditor, we came up with solutions and disagreements which are written down in #1198.
@manuelwedler can we close this in favor of #1198 ?

[2022-11-21 14:56] fredo commented on #1199
Decided to
min: 30 min
max 48 hours

To give us the flexibility in the next deployment in casy of anything happens. Will be reevaluated before the next deployment.

[2022-11-21 15:00] GabrielBuragev opened #1205 "Frontend: Improve transfer activity card design"
<img width="199" alt="image" src="https://user-images.githubusercontent.com/18466333/203086994-d8bff1ba-ee6c-4aae-8edc-feff5e36e652.png">

# Rationale
As decided in the [UX Audit](ub.com/beamer-bridge/beamer/issues/1198) we want to improve the design of the transfer activity cards with the following:

- Remove third step ("Waiting for transaction receipt") from transfer status component.
- Introdu

[2022-11-21 15:30] GabrielBuragev opened #1206 "Frontend: Rephrase "Use Max" button & related tooltip content"
# Rationale
We need to provide a more intuitive label for the "Use Max" button & it's related tooltip text.
Currently it is not so clear that the button is clickable.

<img width="439" alt="image" src="https://user-images.githubusercontent.com/18466333/203093696-4928cf17-5833-465e-a2c3-ca79afd0966a.png">

---

TLDR; of the discussion in this issue and what needs to be done:
- [ ] Follow sushiswap'

[2022-11-21 15:35] GabrielBuragev opened #1207 "Frontend: Revisit coloring schemes on the app"
## Rationale

There are a few suggestions from the UX/UI Audit Feedback which might be considered and provide value to the frontend.
@olympe-silve Agreed on revisiting the color schemes and decide if we need to change something.

Points to cover:
- Contrast: The red color on the teal background is bad.
- Too many different green colors.
- It was not clear that the disabled transfer button was actu

[2022-11-21 15:45] GabrielBuragev opened #1208 "Frontend: Improve fee section readability"
<img width="275" alt="image" src="https://user-images.githubusercontent.com/18466333/203097173-749508ca-1ef2-4d62-a6b0-b666072f8d44.png">

# Rationale
According to the UX Auditor, our fee section is not easily readable.
Things to do to improve this:
- Increase paddings above/below the fee section
- Keep same colors (white) for left aligned text & right aligned text

[2022-11-21 15:54] GabrielBuragev opened #1209 "Frontend: Integrate toast notifications on transfer completed"
# Rationale
To improve the UX of our transfer request flow, it would be very beneficial to integrate toast notifications for specific status changes of the transfer requests.
Since we are currently allowing multiple requests to be created, from the user's perspective, it is easy to get lost in the list of transfers in the transfer tab.
Toast notifications are one way to improve this by updating th

[2022-11-21 16:00] GabrielBuragev opened #1210 "Frontend: Implement a toast notification reusable component"
# Rationale
In order to improve UX we need to integrate a toast notification component which will allow us to give feedback to the users on certain actions on our app and/or status of transfer/transaction requests.

# Implementation specs
- Implementation should be generic and reusable. (easily adding new notifications across the app codebase)
- Preferably, it should be implemented/integrated as a

[2022-11-21 16:11] andfletcher commented on #1210
Close and added acceptance criteria into https://github.com/beamer-bridge/beamer/issues/1209

[2022-11-21 16:11] #1210 closed

[2022-11-21 16:44] andfletcher commented on #1203
We currently did not include giving the user a warning if the time is set to low. Maybe when this issue is done we have a better understanding of what we would consider as to low.

[2022-11-21 17:12] andfletcher opened #1211 "Frontend: Allow new claims after request expiry"
# Rationale
Once https://github.com/beamer-bridge/beamer/issues/1202 is implemented on the contract level, we have to update the frontend accordingly.
This contract update affects the way the frontend evaluates expired requests.

Currently, the frontend marks a request as expired once it passes several condition checks (triggered only once):
- Request expired by local clock (by comparing against `

[2022-11-21 17:13] andfletcher commented on #1211
https://github.com/beamer-bridge/beamer/issues/1202

@GabrielBuragev please add description and missing acceptance criteria

[2022-11-21 17:13] andfletcher commented on #1202
https://github.com/beamer-bridge/beamer/issues/1211 frontend end issue.

[2022-11-21 17:25] GabrielBuragev opened #1212 "Frontend: Remove the target address checkmark"
## Rationale
Since we have the input validation in place & validation messages to provide feedback to the user on what went wrong with his input value, we should remove the target address checkmark when the input is valid.

## Acceptance Criteria
- [ ] Target address checkmark is removed

[2022-11-21 17:32] andfletcher commented on #1199
Additional information:
the frontend will have the min time. 48 hours just gives us the flexibility on increasing if we really need to.

[2022-11-21 17:35] andfletcher commented on #1105
We need to evaluate if we "should" do this from a legal perspective. i will align with jake on this before we start implementing it.

[2022-11-21 18:46] fredo commented on #1201
I thought a little bit more about the discussion of the option and I'd like to correct myself. Like @istankovic I'm also leaning towards option 3. The reason herefore is that we allow an unlimited claiming but with the restriction that only whitelisted agents can become the claimer and ultimately receive the funds.

This is actually a quite convinient way of opening up the system in "some sense",

[2022-11-22 06:37] GabrielBuragev opened #1213 "Frontend: Fix layout & paddings"
<img width="286" alt="image" src="https://user-images.githubusercontent.com/18466333/203241638-14c950d5-324a-4dec-bbae-90596f0cb4c4.png">

# Rationale
Many community members expressed the inconvenience of the paddings around the "Terms & Conditions" check input below the form. Currently it's really hard to press the check input due to its small size & paddings.
We should rethink how we display thi

[2022-11-22 06:43] GabrielBuragev opened #1214 "Frontend: Rephrase placeholder text in empty activity tab"
<img width="252" alt="image" src="https://user-images.githubusercontent.com/18466333/203243011-2aaf5c7c-5406-4911-bb5f-8ff86d0c9aaa.png">

# Rationale
Another accepted suggestion from the UX Audit is rephrasing the placeholder text inside the empty activity tab.

## Acceptance Criteria
- [ ] Placeholder sentence is rephrased

[2022-11-22 06:52] GabrielBuragev commented on #1198
@olympe-silve @manuelwedler Please let me know if i missed something.

[2022-11-22 07:58] andfletcher commented on #1201
@fredo @istankovic if both of you think option 3 is the best way forward then let us go for it.

[2022-11-22 08:46] compojoom opened #1215 "Subgraph: Improvements"
# Rationale
During implementation of #1191 it turned out that the generated subgraph currently only stores the event in a plain form. This makes it hard to query for this specific use case in the issue - like getting the unclaimed, claimed and finalized requests.

# Implementation
The new graph should have an entity for Request, Claims, Fills - the request should have one-to-many relations with th

[2022-11-22 09:48] GabrielBuragev opened #1216 "Frontend: Move form data bindings from components to `pinia` store"
# Rationale
Currently, the form input data bindings are stored inside `RequestDialog.vue` component and passed to the child components (multiple levels below) via props.

This approach is fine for very simple cases but can become quite tedious to maintain when more complex logic is being added to the app.
Another reason why this is hard to maintain is that on top of writing logic for passing the p

[2022-11-22 10:17] GabrielBuragev opened #1217 "Frontend: Highlight target address input on programatic value change"
# Rationale
The target address input listens & reacts to the connected wallet address by updating its value to the current active wallet address. Having such a programmatic value change in a form field might lead to mistakes and therefore we have to make sure we are properly signaling these changes to the user.

# Implementation
We should add an input border/outline color highlight which signals t

[2022-11-22 10:44] GabrielBuragev commented on #1211
:heavy_check_mark:

[2022-11-22 11:22] andfletcher opened #1218 "V1 of contracts"
## Description
Overview of v2 of the contracts that include the fixes and improvements based on the audit and additional improvements we identified when we had high volume and real agents (whitelisted) using beamer.

[2022-11-22 11:25] #549 closed

[2022-11-22 13:56] manuelwedler opened #1219 "Frontend: Too many decimals error breaks layout"
Small layout issue with the input validation error messages: When using more decimals than allowed by the selected token, the error message breaks the layout by letting the upper box grow. So the box moves in an ugly way while the user types.

Looks like this only happens on Firefox.

#### Expected behavior
The text fits the line below the input.

#### Actual behavior
![image](https://user-images.

[2022-11-22 14:30] GabrielBuragev commented on #1219
When i was implementing the validation, i struggled finding a good name for this specific message.
I would really like to hear the opinion of others and hopefully improve this!

[2022-11-22 15:28] manuelwedler commented on #1194
I was assuming that we will have the connect button below the form and additionally on the header. Maybe we didn't align properly here. I still think it would be good to just have both.

We should also consider how this should look like on mobile.

We will have a design for this first, right? A general question.. do we need to have separate issues for the design?

[2022-11-22 15:30] manuelwedler commented on #1213
Is this something @olympe-silve should be involved?

[2022-11-22 15:42] manuelwedler commented on #1132
Yes, don't need this anymore

[2022-11-22 15:42] #1132 closed

[2022-11-22 17:28] GabrielBuragev commented on #1213
Yes, for the first 2 tasks.

[2022-11-22 17:29] GabrielBuragev commented on #1219
Should we consider this a bug?

[2022-11-22 20:13] #1025 closed

[2022-11-23 08:58] manuelwedler commented on #1219
The whole box moves while the user types. I would consider this a bug.

[2022-11-23 09:10] GabrielBuragev commented on #1219
Same for this error message.

![image](https://user-images.githubusercontent.com/18466333/203508315-93b0918d-3dd0-4f85-9727-a0000524cddf.png)

We can combine them in this issue

[2022-11-23 09:49] fredo commented on #941
Let me try to give a summary, taking into account that we want this feature for the lifetime of V2.

We have several values in the request manager which are in context of the token transferred.

* fees
  * protocol fee (percentage)
  * lp fee (percentage)
  * min lp fee (absolute value)
* transfer limit

Currently, all the above are determined on a contract basis and not per token. This means we h

[2022-11-23 11:19] andfletcher commented on #941
@fredo I agree with the cleaner way of having a whitelist. It could be very beneficial to the DAO to decide on these decisions since it will also receive the fee in that token. So ownership of the whitelist could be transferred to the DAO and let them make the decisions.

[2022-11-23 11:56] manuelwedler commented on #1219
Cannot reproduce this one :/ For me it is in one line. But I also think the error is a bit misleading as it is only displayed because of the dot.

[2022-11-23 12:52] istankovic commented on #941
Another possible option would be to let the user decide on the fee i.e. the protocol and the bridge itself would not care. Such an approach would open up a "market" (ugh...) and agents would decide individually what
- tokens they accept
- fees they accept, per token and request

Could result in interesting things and the bridge would only be concerned with providing a safe facility for transfers (

[2022-11-23 13:32] fredo commented on #941
Agreed on the following:

We are gonna have a mapping on a per token basis:
- values: protocolFee, lpFee, minLpFee, transferLimit
- function: addToken, removeToken (onlyOwner)
- events: TokenAdded, TokenRemoved

Open question:
I would also like to add a tokenChanged event. This should reflect whenever fees were changed. I had a discussion the other day with an agent how to reflect the owned fees,

[2022-11-23 15:54] DBecane commented on #1206
I would simpy use "Max" as this seems to be the most intuitive. We do not need to display the maximum amount that people have available - they can figure out by clicking "Max"

<img width="387" alt="image" src="https://user-images.githubusercontent.com/85872820/203591048-fbfc9d54-7d79-45c5-b798-a3e5d3d28858.png">

[2022-11-23 16:28] DBecane commented on #1205
@GabrielBuragev Thanks for looping me in here! :)

As far as I remember, there are only 2 truly active steps required from users, right? In this case, the actions from users would happen at step:

1. Token allowance
2. Signing transaction

So I would completely remove the "waiting..." since no action is required here. + I would rephrase the last one "Transfer in progress" So that the user knows th

[2022-11-24 07:48] GabrielBuragev opened #1222 "Frontend: Adapt fee usage per new contract design"
# Rationale
Based on the changes introduced (agreed upon) in https://github.com/beamer-bridge/beamer/issues/941 we need to adapt the front-end code respectively.

From the issue:

	    values: protocolFee, lpFee, minLpFee, transferLimit

At this moment, the front-end consumes these properties from the contract by fetching them from the primitive properties of the contract. This is because contract

[2022-11-24 08:39] GabrielBuragev commented on #1206
The reason why we don't have a "Max" button is because the whole form is currently too small, which makes the input field pretty limited with space and therefore adding a "Max" button inside it would look too crammed.

@olympe-silve Do you have any idea how to approach this?

[2022-11-24 09:10] GabrielBuragev commented on #1205
@DBecane Thank you for your input.
Let's use "Transfer in progress" instead of "Request is being fulfilled" then.

P.S. A transfer, on the front-end, cannot be interrupt by closing the browser session.

[2022-11-24 13:14] andfletcher commented on #890
We want to use the script and have a rocket chat bot update us on a daily base of the outcome of the script in a separate dedicated channel. @compojoom .

@fredo can you link the script here please.

[2022-11-24 13:15] andfletcher commented on #1191
Feedback from one of our agents:
Beamer Agent Desired Stats
Below points are a braindump of things we can do to prevent problems when shutting down agents and other general improvements.

Shutdown mechanism (stop filling request, and then shutdown after timeout period)
Service to claim on behalf of agents
Stats to see amount of claims, locked capital, available capital, missed claims, current 24h

[2022-11-24 15:35] GabrielBuragev commented on #1206
After a quick discussion with @DBecane, we both agreed that the current form size is hindering the improvement of the UI/UX and therefore needs to be addressed now.

In order to tackle this issue we will need to:
- Increase the width of the whole form (for big screen devices) to allow the inclusion of elements such as the "MAX" button as shown in the example screenshot posted in the comment above.

[2022-11-25 14:12] andfletcher opened #1226 "Implement Matomo individually for dapp"
# Description
The current tracking setup doesn't allow accurate and clean tracking because they're aggregated and the app is merely a subdomain. This does not allow to separate people that convert from website to app from people that directly land on the app, for example, making it harder to understand the user journey.

To Do
- [ ] implement code on the beamer app website so that we can track it

[2022-11-27 13:41] GabrielBuragev opened #1227 "Frontend: Migrate to WalletConnect v2"
# Rationale
The frontend currently uses WalletConnect as one of the main interfaces, besides MetaMask, for connecting to different wallet providers (both mobile & desktop).
So far everything works as expected by using WalletConnect v1 however this version of the library will soon become deprecated and it's sunset is already in progress.

dApps need to start migrating to WalletConnect v2 beginning

[2022-11-28 13:38] andfletcher commented on #890
We could run this multiple times during the day, correct?

[2022-11-28 13:40] fredo commented on #890
correct

[2022-11-28 14:10] fredo opened #1228 "Rename Request.validUntil to validBefore"
validUntil is not very explicit about if the timestamp is included or excluded.
validBefore makes this a bit more explicit.

Other suggestions welcome.

[2022-11-28 14:14] fredo opened #1229 "Use brownie.chain.sleep instead of brownie.chain.mine"
brownie.chain.mine(timestamp=x) sets the timestamp of the next block to x+1.
Typically we call this when we want to test a specific timestamp during execution of the next transaction.
brownie.chain.sleep sets the timestamp of ganache to the desired timestamp and then generates a new block with this timestamp. This is what we want.

Even brownie's documentation says that one should use sleep if a c

[2022-11-28 15:36] fredo opened #1230 "Update contributing docs & improve "getting started" steps"
There is a missing step to build the relayers, otherwise the agent won't run.
Additionally, we have to either fix the make target for relayers that the binaries are stored at `data/relayers` or add an additional step in the docs that one has to do that manually. I prefer the first option.

- [x] Add `make relayers` to contributing docs
- [x] change relayers target in make file so that binaries are

[2022-11-29 13:35] manuelwedler commented on #1206
I just think @olympe-silve should decide on that. Having different layouts for mobile and desktop also increases the complexity of the frontend. Besides, the tooltips on the buttons don't really work on mobile.

[2022-11-30 09:09] GabrielBuragev opened #1234 "CLI script for calling functions of deployed contracts is outdated"
By following the [contributing guideline](https://docs.beamerbridge.com/contributing.html) on how to setup your local environment i noticed that our `call_contracts.py` CLI script lacks some functionality.
It is important to fix these issues so we can have a smoother start-up process for newcomers as well as the dev team.

#### Expected behavior
Following the steps in the guideline should lead to

[2022-11-30 11:34] #1051 closed

[2022-11-30 13:26] istankovic commented on #848
This is now done.

[2022-11-30 13:26] #848 closed

[2022-11-30 14:42] istankovic commented on #1230
I checked the boxes on things that #1239 is fixing.

[2022-11-30 14:46] #1230 closed

[2022-11-30 14:46] #1234 closed

[2022-11-30 14:52] istankovic opened #1240 "Run CI workflows also on macos"
CircleCI seemingly supports macos (need to see the extent of that). We should run at least a subset of our CI workflows also on macos to make sure that we don't unintentionally break development on that platform. (An example of a workflow that does not need to be run on macos is the container image build.)

[2022-11-30 14:58] #1199 closed

[2022-11-30 15:17] andfletcher commented on #1227
what will happen if we do not migrate? @GabrielBuragev short term / long term?

[2022-11-30 18:30] fredo opened #1241 "Host stable branch docs"
For people who are using mainnet and especially want to build on mainnet, it can be very confusing to have only the uptodate docs available.
For those people we should host the stable branch docs of the current mainnet deployment.

I think essentially when we diverge we have to host the docs separately.

[2022-11-30 18:37] #1202 closed